
	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		background: rgb(22, 36, 53);
	}

	body {
		height: 100%;
		min-width: 1500px;
		background: rgb(22, 36, 53);
		margin: 0;
		padding: 0;
	}

	button {
		font-family: Roboto Slab;
		user-select: none;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	#backgroundC {
		position: relative;
		width: 100%; height: 100%;
		min-width: 1100px;
		overflow: visible;
		background: rgb(13, 18, 24);
		font-family: Roboto Slab;
	}

	/*FOR COVERING ALL PAGE SO USER CANT INTERACT*/
	#coverPageHelperC {
		display: none;
		position: fixed;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.2);
		z-index: 1000000000;
	}

	/*FOR ALERT MESSAGES*/
	#alertInfoForCreatNewItemC {
		display: none;
		position: fixed;
		background: rgb(22, 36, 53, 0.8);
		color: white;
		top: 0; left: 50%;
		font-size: 16px;
		border: 2px solid rgb(255, 215, 0); border-top: none;
		margin: auto;
		padding: 20px 20px 15px 20px;
		transform: translate(-50%, 0);
		z-index: 1000000000;
		transition: opacity 0.4s;
	}

	#alertInfoForCreatNewItemTextC {
		display: table;
		background: transparent;
		border-radius: 5px;
		margin: auto; margin-bottom: 8px;
		padding: 2px;
	}
	
	#alertInfoForCreatNewItemBtn {
		position: relative;
		display: table;
		background: rgb(255, 215, 0);
		color: rgb(13, 18, 24);
		font-size: 16px;
		cursor: pointer;
		border-radius: 2px;
		border: 2px solid rgb(13, 18, 24);
		margin: auto;
	}

	#alertInfoForCreatNewItemBtn:hover {
		background: white;
		color: rgb(37, 52, 69);
	}

	#alertInfoForCreatNewItemBtn:active {
		background: rgb(13, 18, 24);
		color: rgb(22, 36, 53);
	}

	/*EDIT WINDOW*/
	#editWindowC {
		display: none;
		position: fixed;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.2);
		z-index: 100000000;
	}

	#centerEditWindowC {
		position: absolute;
		width: 60%;
		min-width: 800px;
		background: rgb(22, 36, 53);
		color: white;
		top: 50%; left: 50%;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		transform: translate(-50%, -50%);
	}

	#exitEditBtn {
		position: absolute;
		background: rgb(0, 0, 0, 0.0);
		top: 0; right: 0;
		font-size: 25px;
		cursor: pointer;
		user-select: none;
		padding: 2px 6px 2px 6px;
		z-index: 2;
	}

	#exitEditBtn:hover {
		color: rgb(37, 52, 69);
	}

	#exitEditBtn:active {
		color: rgb(22, 36, 53);
	}

	#editTitleC {
		float: left;
		display: block;
		position: relative;
		width: 100%; height: 37px;
		background: rgb(255, 255, 255, 0.2);
		font-size: 28px;
		text-align: center;
		user-select: none;
		z-index: 1;
	}

	#editTitleTextC {
		display: table;
		margin: auto;
	}

	#editInfoGetterC {
		display: table;
		width: 100%;
	}

	#editInfoGetterLeftC {
		display: table-cell;
		position: relative;
		width: 50%;
		background: transparent;
		border-right: 4px solid black;
		padding: 10px;
	}

	#editInfoGetterRightC {
		display: table-cell;
		position: relative;
		width: 50%;
		background: transparent;
		overflow: hidden;
		border: none;
		padding: 10px;
	}

	#coverEditC {
		display: none;
		position: absolute;
		width: 100%; height: calc(100% - 37px);
		background: rgb(22, 36, 53);
		top: 37px;
		overflow: hidden;
		border-radius: 0 0 1px 1px;
		border-top: 2px solid rgb(13, 18, 24);
	}

	#backReceiverBtn {
		display: block;
		background: rgb(13, 18, 24);
		color: white;
		font-size: 30px;
		cursor: pointer;
		border: 2px solid white;
		margin: auto; margin-top: 7px;
	}

	#backReceiverBtn:hover {
		background: rgb(255, 215, 0);
	}

	#backReceiverBtn:active {
		background: white;
		color: rgb(13, 18, 24);
		border-color: rgb(13, 18, 24);
	}

	#receiverListContentC {
		position: absolute;
		width: 100%;
		background: rgb(255, 215, 0);
		top: 60px; bottom: 0;
		border-radius: 4px;
		border-top: 2px solid rgb(13, 18, 24);
		padding: 5px;
	}

	#receiverCenterListContentC {
		width: 100%; height: 100%;
		background: white;
		overflow: auto;
		border-radius: 4px;
		border: 2px solid rgb(22, 36, 53);
	}

	/*WIDTH*/
	#receiverCenterListContentC::-webkit-scrollbar {
	  width: 22px;
	  background: white;
	}

	/*TRACK*/
	#receiverCenterListContentC::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey;
	}
	 
	/*HANDLE*/
	#receiverCenterListContentC::-webkit-scrollbar-thumb {
	  background: rgb(22, 36, 53);
	  border: 1px solid white;
	}

	/*HANDLE HOVER*/
	#receiverCenterListContentC::-webkit-scrollbar-thumb:hover {
	  background: rgb(255, 215, 0);
	}

	.placeForBranchC {
		background: transparent;
		border: 2px solid black;
	}

	.titleBranchC {
		font-size: 22px;
		border-bottom: 2px solid rgb(13, 18, 24);
	}

	.titleBranchC > button {
		font-size: 22px;
	}

	.titleRecC {
		position: relative;
		background: transparent;
		font-size: 18px;
		margin-left: 10px;
	}

	.titleRecC > button {
		font-size: 20px;
	}

	.titleRecCheckBox {
		cursor: pointer;
	}

	.titleRecCheckBox:hover + .titleRecBtn {
		color: rgb(255, 215, 0);
	}

	.titleRecBtn {
		position: relative;
		background: transparent;
		cursor: pointer;
		border: none;
	}

	.titleRecBtn:hover {
		color: rgb(255, 215, 0);
	}

	.managerEmpContentC {
		margin-left: 30px;
	}

	.agencyEmpContentC {
		margin-left: 30px;
	}

	.storeEmpContentC {
		margin-left: 30px;
	}

	.checkBoxC {
	}

	.checkBox {
		cursor: pointer;
	}

	.checkBox:hover + .checkBoxBtn {
		color: rgb(255, 215, 0);
	}

	.checkBoxBtn {
		position: relative;
		background: transparent;
		cursor: pointer;
		border: none;
		top: -2px;
	}

	.checkBoxBtn:hover {
		color: rgb(255, 215, 0);
	}

	#downContainerOfEditC {
		display: none;
		position: fixed;
		width: 90%;
		max-height: 300px;
		background: rgb(235, 235, 235);
		bottom: 0; left: 50%;
		overflow: hidden;
		border-radius: 2px 2px 0 0;
		padding: 3px;
		transform: translate(-50%, 0);
	}

	.receiverC {
		float: left;
		display: table;
		background: lightgrey;
		border-radius: 6px;
		margin: 4px 5px 4px 5px;
		padding: 4px 9px 4px 9px;
	}

	/*ADD NEW INFO ALERT*/
	#alertAddNewInfoC {
		display: none;
		position: fixed;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.2);
		z-index: 10000000000;
	}

	#centerAddNewInfoWindowC {
		position: absolute;
		width: 60%;
		min-width: 700px;
		background: rgb(22, 36, 53);
		color: white;
		top: 10px; left: 50%;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		transform: translate(-50%, 0);
		z-index: 1;
	}

	#importantSymbolAddNewInfoC {
		position: absolute;
		background: rgb(0, 0, 0, 0.0);
		color: red;
		top: -10px; right: 10px;
		font-size: 40px;
		font-weight: bold;
		user-select: none;
		padding: 2px 6px 2px 6px;
		z-index: 2;
	}

	#addNewInfoTitleC {
		display: table;
		margin: auto; margin-top: 5px; margin-bottom: 5px;
	}

	#addNewInfoTitleTextC {
		display: table;
		width: 100%;
		color: rgb(255, 215, 0);
		font-size: 22px;
	}
	
	#addNewInfoGetterC {
		display: table;
		width: 100%;
		padding: 0 40px 0 40px;
	}

		#addNewInfoTextC {
			display: table;
			margin: auto;
		}

		#addNewInfoActionBtnC {
			display: table;
			position: relative;
			margin: auto; margin-top: 10px; margin-bottom: 10px;
		}
		
			#yesAddNewInfoBtn {
				display: table-cell;
				position: relative;
				background: rgb(255, 215, 0);
				color: rgb(13, 18, 24);
				font-size: 16px;
				cursor: pointer;
				border-radius: 2px;
				border: 2px solid rgb(13, 18, 24);
				margin: 0 10px 0 0;
			}

			#yesAddNewInfoBtn:hover {
				background: green;
				color: rgb(37, 52, 69);
			}

			#yesAddNewInfoBtn:active {
				background: rgb(13, 18, 24);
				color: rgb(22, 36, 53);
			}
			
			#noAddNewInfoBtn {
				display: table-cell;
				position: relative;
				background: rgb(255, 215, 0);
				color: rgb(13, 18, 24);
				font-size: 16px;
				cursor: pointer;
				border-radius: 2px;
				border: 2px solid rgb(13, 18, 24);
				margin: 0 0 0 10px;
			}

			#noAddNewInfoBtn:hover {
				background: red;
				color: rgb(37, 52, 69);
			}

			#noAddNewInfoBtn:active {
				background: rgb(13, 18, 24);
				color: rgb(22, 36, 53);
			}
	/**/

	#leftC {
		position: absolute;
		float: left;
		height: 100%;
		background: rgb(22, 36, 53);
		overflow: hidden;
		user-select: none;
		box-shadow: 3px 0px 2px black;
		transition: width 0.3s;
	}

		#leftFixedC {
			position: fixed;
			height: 100%;
			background: rgb(77, 77, 77);
			overflow: visible;
			box-shadow: 3px 0px 2px black;
			transition: width 0.3s;
			z-index: 40;
		}

		#menuSymbolC {
			position: relative;
			width: 100%; height: 250px;
			background: rgb(111, 142, 171);
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			top: 0px; right: 0px;
			overflow: hidden;
			border-bottom: 2px solid rgb(128, 155, 186);
			box-shadow: 2px 0px 2px black;
			z-index: 5;
		}

		#homeBtn {
			position: relative;
			width: 85%; height: 85%;
			background: rgb(13, 18, 24);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
			outline: none;
			cursor: pointer;
			border-radius: 4px;
			border: 4px solid white;
			transition: background 0.1s;
		}

		#homeBtn:hover {
			background: rgb(255, 215, 0);
		}

		#menuImg {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: auto;
			content: url(../Assets/icons8_braineyes_95px.png);
			transform: translate(-50%, -50%);
			transition: transform 0.3s;
		}

		#homeBtn:hover #menuImg {
			transform: translate(-50%, 300%);
		}

		#homeShowC {
			position: absolute;
			top: 50%;
			left: 50%;
			color: white;
			font-size: 28px;
			font-weight: bold;
			transform: translate(-50%, -1000%);
			transition: transform 0.3s;
		}

		#homeBtn:hover #homeShowC {
			transform: translate(-50%, -50%);
		}

		#menuBtnC {
			position: relative;
			height: 50px;
			background-image: url(../Assets/sky.jpg);
			background-size: cover;
			z-index: 10;
		}

		#menuBtn {
			display: block;
			position: relative;
			width: 60px; height: 100%;
			background: rgb(13, 18, 24, 0.8);
			outline: none;
			cursor: pointer;
			border: none;
			border-radius: 0 4px 4px 0;
			margin: auto;
			padding: 0;
			transition: border-radius 0.5s;
			z-index: 5;
		}

		#menuBtn:hover {
			background: rgb(255, 215, 0);
		}

		#menuBtn img {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_business_50px.png);
		}

		#menuBtn:hover img {
			content: url(../Assets/icons8_business_50px_3.png);
		}

		#menuC {
			position: relative;
			width: 100%;
			background-image: url(../Assets/bus2.jpg);
			background-size: cover;
			top: 0px; right: 0px;
			overflow: hidden;
			padding-top: 30%;
			padding-bottom: 30%;
			z-index: 5;
		}

		.menuBtns {
			position: relative;
			width: 100%; height: 45px;
			background: transparent;
			cursor: pointer;
			font-size: 22px;
			outline: none;
			border: none;
			border-top: 2px solid white;
			border-bottom: 2px solid white;
		}

		.menuBtns:hover {
			background: rgb(46, 54, 78, 0.5);
			border: none;
			font-size: 25px;
			border-top: 2px solid rgb(46, 54, 78);
			border-bottom: 2px solid rgb(46, 54, 78);
		}

		.menuBtnImg {
			float: left;
			position: relative;
			width: 35px; height: 80%;
			margin-left: 30px;
			top: 50%;
			transform: translate(0%, -50%);
		}

		.menuBtns:hover img {
			height: 90%;
		}

		#branchesBtn img {
			content: url(../Assets/icons8_compare_git_50px.png);
		}

		#branchesBtn:hover img {
			height: 80%;
			content: url(../Assets/icons8_compare_git_50px_2.png);
		}

		#employeesBtn img {
			height: 90%;
			content: url(../Assets/icons8_gender_neutral_employee_group_50px.png);
		}

		#employeesBtn:hover img {
			height: 100%;
			content: url(../Assets/icons8_gender_neutral_employee_group_50px_2.png);
		}

		#routesBtn img {
			content: url(../Assets/icons8_route_50px.png);
		}

		#routesBtn:hover img {
			content: url(../Assets/icons8_route_50px_2.png);
		}

		#busesBtn img {
			content: url(../Assets/icons8_bus_50px_3.png);
		}

		#busesBtn:hover img {
			height: 80%;
			content: url(../Assets/icons8_bus_50px_2.png);
		}

		.menuBtnTxtC {
			height: 100%;
			overflow: hidden;
		}

		.menuBtnTxtC div {
			float: left;
			position: relative;
			color: white;
			font-style: italic;
			text-align: left;
			top: 50%; left: 5px;
			transform: translate(0%, -50%);
		}

		#menuDownImgC {
			position: relative;
			width: 100%;
			background: rgb(13, 18, 24);
			overflow: hidden;
			border-top: 2px solid rgb(141, 157, 169);
			z-index: 5;
		}

	#rightC {
		float: right;
		position: relative;
		height: 100%;
		min-width: 1430px;
		background: rgb(22, 36, 53);
		overflow: visible;
		transition: width 0.3s;
	}

		#headerC {
			position: relative;
			height: 100px;
			min-width: 100%;
			background: rgb(13, 18, 24);
			margin: auto;
			overflow: visible;
			user-select: none;
			padding: 10px 0 0 0;
		}

		#headerHeadC {
			position: relative;
		}

		#headerHeadC h1 {
			position: relative;
			color: white;
			font-size: 35px;
			text-align: center;
			user-select: text;
		}

		#downHeaderC {
			position: relative;
			width: 100%;
			min-width: 100%;
			overflow: visible;
			background: transparent;
			border-top: 2px solid rgb(255, 215, 0);
		}

		#firstLineContentC {
			position: relative;
			overflow: visible;
			background: transparent;
			user-select: none;
		}

		#headerImg {
			position: relative;
			top: -16px; left: 50%;
			content: url(../Assets/icons8_network_95pxEdited.png);
			margin: auto;
			transform: translate(-50%, 0);
		}

		#profileInfoC {
			display: block;
			float: right;
			position: relative;
			background: rgb(0, 0, 0, 0.5);
			right: 5%;
			border-radius: 0 0 2px 2px;
			user-select: none;
			padding: 10px;
		}

		#profileLine1 {
			float: left;
			position: relative;
		}

		#userNameC {
			float: left;
			position: relative;
			height: 30px;
			color: white;
			margin-right: 20px;
		}

		#userNameC div {
			position: relative;
			font-size: 16px;
			top: 50%;
			user-select: text;
			transform: translate(0, -50%);
		}

		#adminImg {
			content: url(../Assets/icons8_leadership_30px.png);
			overflow: hidden;
			cursor: crosshair;
		}

		#profileLine2 {
		}

		#logOutBtn {
			display: block;
			position: relative;
			background: transparent;
			right: 0;
			cursor: pointer;
			outline: none;
			border: none;
			margin: auto;
			padding: 0;
		}

		#logOutBtn div {
			color: rgb(255, 215, 0);
			font-size: 16px;
			letter-spacing: 1px;
		}

		#logOutBtn:hover div {
			color: rgb(255, 255, 90);
		}

		#contentC {
			position: relative;
			width: 100%; min-height: 800px;
			min-width: 100%;
			background: rgb(22, 36, 53);
			padding: 0 5% 10% 5%;
		}
		
		#contentCenterC {
			position: relative;
			border-radius: 2px;
			border: none;
		}

		/*TOP PANEL WITH INFO IN MAIN PANEL*/
		#contentInfoC {
			float: left;
			position: sticky;
			width: 100%;
			top: 0;
			background: rgb(255, 255, 255);
			border-bottom: 1px solid rgb(22, 28, 34);
			user-select: none;
			z-index: 30;
		}

		#pathC {
			float: left;
			position: absolute;
			height: 50px;
			color: rgb(6, 9, 12);
			top: 50%;
			margin-left: 20px;
			transform: translate(0, -50%);
		}

		#pathC img {
			float: left;
			content: url(../Assets/icons8_microsoft_admin_40px.png);
			margin-right: 8px;
			padding: 4px 0 4px 0;
		}

		#pathTextC {
			float: left;
			position: relative;
			height: 100%;
			overflow: hidden;
			user-select: none;
		}

		#pathTextC div {
			position: relative;
			top: 50%;
			font-size: 20px;
			transform: translate(0, -50%);
		}

		#centerScreenBtn {
			position: absolute;
			width: 40px; height: 70%;
			top: 50%; left: 50%;
			cursor: pointer;
			transform: translate(-50%, -50%);
		}

		#centerScreenBtn img {
			position: absolute;
			width: 100%; height: 100%;
			content: url(../Assets/icons8_center_of_gravity_30px.png);
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
		}

		#notifcationSendBtn {
			float: right;
			position: absolute;
			height: 70%;
			background: rgb(13, 18, 24);
			color: white;
			top: 50%; right: 90px;
			font-size: 19px;
			cursor: pointer;
			border-color: rgb(255, 215, 0);
			transform: translate(0, -50%);
		}

		#notifcationSendBtn:hover {
			background: rgb(255, 215, 0);
			color: rgb(13, 18, 24);
			border-color: rgb(13, 18, 24);
		}

		#notifcationSendBtn:active {
			background: rgb(255, 200, 0);
			color: white;
			border-color: rgb(13, 18, 24);
		}

			/*NOTIFICATIONS WINDOW ELEMENTS*/
			/*ID OF NOTIFICATION WINDOW*/
			#idNotifInptC {
				display: block;
				position: relative;
				width: 100%; height: 73.33px;
				background: transparent;
				overflow: hidden;
				margin: auto; margin-top: 5px; margin-bottom: 20px;
				padding: 2px;
			}

			#idNotifTextC {
				position: relative;
				font-size: 22px;
				text-align: center;
				user-select: none;
				margin-bottom: 10px;
			}

			#idNotifInpt {
				width: 100%;
				color: rgb(13, 18, 24);
				font-size: 18px;
				text-align: center;
				border-radius: 4px;
				border: 2px solid rgb(13, 18, 24);
				padding: 2px;
			}

			/*TYPE OF NOTIFICATION WINDOW*/
			#typeNotifInptC {
				display: block;
				position: relative;
				width: 100%; height: 73.33px;
				background: transparent;
				overflow: hidden;
				margin: auto; margin-top: 5px; margin-bottom: 10px;
				padding: 2px;
			}

			#typeNotifTextC {
				position: relative;
				font-size: 22px;
				text-align: center;
				user-select: none;
				margin-bottom: 10px;
			}

			#typeNotifSlct {
				width: 100%;
				color: rgb(13, 18, 24);
				font-size: 18px;
				text-align: center;
				border-radius: 4px;
				border: 2px solid rgb(13, 18, 24);
				padding: 2px;
			}

			/*RECEIVER OF NOTIFICATION WINDOW*/
			#receiverNotifInptC {
				display: block;
				position: relative;
				width: 100%;
				background: transparent;
				overflow: hidden;
				margin: auto; margin-top: 0px; margin-bottom: 10px;
				padding: 2px;
			}

			#receiverNotifBtn {
				display: block;
				width: 100%;
				background: rgb(13, 18, 24);
				color: white;
				font-size: 18px;
				text-align: center;
				border-radius: 4px;
				border: 2px solid white;
				cursor: pointer;
				margin: auto;
				padding: 2px;
			}

			#receiverNotifBtn:hover {
				background: rgb(255, 215, 0);
				color: rgb(13, 18, 24);
				border-color: rgb(255, 215, 0);
			}

			#receiverNotifBtn:active {
				background: white;
				color: rgb(13, 18, 24);
				border-color: rgb(13, 18, 24);
			}

			#receiverNotifContentC {
				display: block;
				position: fixed;
				max-width: 700px;
				background: red;
				bottom: 0; left: 50%;
				font-size: 22px;
				text-align: center;
				user-select: none;
				border: 1px solid rgb(13, 18, 24);
				margin-bottom: 10px;
				z-index: 3;
				transform: translate(-50%, 0);
			}

			/*SEND NOTIFY */
			#sendNotifbtn {
				display: block;
				position: relative;
				width: 50%; height: 50px;
				background: rgb(22, 36, 53);
				color: white;
				font-size: 22px;
				text-align: center;
				overflow: hidden;
				cursor: pointer;
				border-color: white;
				margin: auto; margin-top: 45px;
				padding: 2px;
			}

			#sendNotifbtn:hover {
				color: rgb(255, 215, 0);
				border-color: rgb(255, 215, 0);
			}

			/*TEXT OF NOTIFICATION WINDOW*/
			#textNotifInptC {
				display: block;
				position: relative;
				width: 100%; height: 350px;
				background: transparent;
				overflow: hidden;
				margin: auto; margin-top: 15px; margin-bottom: 25px;
				padding: 2px;
			}

			#textNotifTextC {
				position: relative;
				height: 30px;
				font-size: 22px;
				text-align: center;
				user-select: none;
			}

			#textNotifTextAr {
				display: block;
				position: relative;
				width: 100%; height: 90%;
				background: white;
				color: rgb(22, 36, 53);
				letter-spacing: 1px;
				font-size: 18px;
				resize: none;
				border: 2px solid rgb(118, 118, 118);
				padding: 5px 5px 4px 5px;
			}

			/*WIDTH*/
			#textNotifiedITextAr::-webkit-scrollbar {
			  width: 20px;
			}

			/*TRACK*/
			#textNotifiedITextAr::-webkit-scrollbar-track {
			  box-shadow: inset 0 0 5px grey;
			  border-radius: 2px;
			}
			 
			/*HANDLE*/
			#textNotifiedITextAr::-webkit-scrollbar-thumb {
			  background: rgb(22, 36, 53);
			  border-radius: 2px;
			  border: 1px solid white; border-top: none; border-bottom: none;
			}

			/*HANDLE HOVER*/
			#textNotifiedITextAr::-webkit-scrollbar-thumb:hover {
			  background: rgb(255, 215, 0); 
			}
			/**/

		#requestsBtn {
			float: right;
			position: relative;
			width: 40px; height: 35px;
			cursor: pointer;
			background: rgb(6, 9, 12);
			right: 10px;
			outline: none;
			border: none;
			border-radius: 50%;
			margin: 10px;
			margin-bottom: none;
			padding: 2px;
		}

		#requestsBtnImg {
			position: relative;
			width: 80%; height: 80%;
			border-radius: 50%;
			margin: auto;
			content: url(../Assets/icons8_notification_50px.png);
		}

		#requestsBtn:hover #requestsBtnImg {
			width: 70%; height: 70%;
			content: url(../Assets/icons8_notification_50px_2.png);
		}

		#numberOfRequestsC{
			display: table;
			position: absolute;
			background: rgb(240, 40, 73);
			color: white;
			font-size: 12px;
			top: -3px; left: -9px;
			overflow: hidden;
			border-radius: 4px 4px 2px 4px;
			overflow: hidden;
			padding: 1px 4px 1px 4px;
		}

		#numberOfRequestsC div {
			position: relative;
			font-weight: bold;
			padding: 1px;
		}

		/*ALERT CONTAINER WHEN */
		#alertNotifInfoC {
			display: none;
			position: absolute;
			background: brown;
			color: rgb(255, 215, 0);
			top: 0; left: 65%;
			font-size: 16px;
			border: 2px solid grey;
			margin-top: 0;
			padding: 4px;
			transform: translate(-50%, 0);
			user-select: none;
			z-index: 24;
			transition: margin-top 0.4s;
		}

		/*BOTTOM PANEL WITH INFO IN MAIN PANEL*/
		#showPanelC {
			position: relative;
			width: 100%;
			min-width: 1100px;
			background: transparent;
			border-radius: 0 0 2px 2px;
			overflow: visible;
		}


/*SCREEN WIDTH UNDER 420px*/
	@media only screen and (max-width: 420px) {
		
	}

	/*SCREEN WIDTH UNDER 380px*/
	@media only screen and (max-width: 380px) {
		
		
	}

	/*SCREEN WIDTH UNDER 374px*/
	@media only screen and (max-width: 374px) {
		
		
	}

	/*SCREEN WIDTH UNDER 300px*/
	@media only screen and (max-width: 300px) {
		
		
	}

	/*SCREEN WIDTH UNDER 1200px*/
	@media only screen and (max-width: 1200px) {
	
	}
/**/

/*ANIMATIONS*/
	@keyframes spinOnLoading {
		from { 
			transform: rotate(0deg); 
		} to { 
			transform: rotate(360deg); 
		}
	}

	@keyframes triggerBellWhenNotificationsChange {
		0% { transform: rotate(0deg); }
		25% { transform: rotate(35deg); }
		50% { transform: rotate(-35deg); }
		75% { transform: rotate(35deg); }
		100% { transform: rotate(-35deg); }
	}
/**/