	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		height: 100%;
		background: black;
		margin: 0;
		padding: 0;
	}

	#homeContentC {
		position: relative;
		width: 100%; height: 100%;
		overflow: hidden;
		background: darkgrey;
	}

	#homeHeaderCountC {
		float: left;
		position: relative;
		background: red;
		left: 10%;
		font-size: 40px;
		font-family: "Times New Roman", Times, serif;
		font-style: italic;
		font-weight: bold;
	}