	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		height: 100%;
		background: white;
		margin: 0;
		padding: 0;
	}

	button {
		font-family: Roboto Slab;
		user-select: none;
	}

	input {
		font-family: Roboto Slab;
	}

	input:disabled {
		background: rgb(255, 255, 255, 0.4);
	}

	input::-ms-reveal, input::-ms-clear {
		display: none;
	}

	select {
		font-family: Roboto Slab;
	}

	select:disabled {
		background: rgb(255, 255, 255, 0.4);
	}

	#employeeBodyC {
		position: relative;
		width: 100%; height: auto;
		background: transparent;
		font-family: Roboto Slab;
		overflow: hidden;
	}

	#employeeTopBarC {
		position: relative;
		width: 100%; height: 92px;
		background: rgb(13, 18, 24);
		overflow: hidden;
		user-select: none;
		padding: 10px 0 10px 0;
		box-shadow: 0 0 10px black;
	}

	#employeeMenuC {
		float: left;
		display: block;
		position: relative;
		width: 90%; height: 60px;
		background: transparent;
		top: 50%; left: 50%;
		overflow: visible;
		user-select: none;
		margin: auto;
		transform: perspective(1px) translate(-50%, -50%);
	}

	/*ONLINE ADMINS*/
	#onlineAdminsC {
		float: left;
		display: block;
		position: relative;
		height: 100%;
		background: transparent;
		margin: 0;
	}

	#onlineAdminsImg {
		float: left;
		position: relative;
		width: 32px; height: 32px;
		top: 50%;
		cursor: pointer;
		border-radius: 4px;
		margin-right: 5px;
		content: url(../Assets/icons8_businessman_30px_4.png);
		transform: perspective(1px) translateY(-50%);
	}

	#onlineAdminsImg:hover {
		content: url(../Assets/icons8_businessman_30px_3.png);
	}

	#onlineAdminsImg:hover + #onlineAdminTextC {
		color: rgb(255, 215, 0);
	}

	#onlineAdminTextC {
		float: left;
		position: relative;
		height: 30px;
		background: transparent;
		color: white;
		top: 50%;
		font-size: 22px;
		font-weight: bold;
		cursor: pointer;
		user-select: none;
		transform: perspective(1px) translateY(-50%);
	}

	#onlineAdminTextC:hover {
		color: rgb(255, 215, 0);
	}

	/*ALL MENU MAIN CONTAINERS*/
	#employeesBtnInfoC {
		display: table;
		position: absolute;
		background: transparent;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.employeesMenuC {
		float: left;
		display: block;
		position: relative;
		width: 60px; height: 100%;
		background: transparent;
		margin: 0 30px 0 30px;
	}

	.employeesMenuC:hover .menuEmployeeTextC {
		color: rgb(255, 215, 0);
	}

	.menuEmployeeTextC {
		float: left;
		position: absolute;
		color: white;
		left: 50%;
		font-weight: bold;
		margin-top: 48px;
		transform: translate(-50%, 0);
		z-index: 10;
	}

	/*VIEW EMPLOYEES AND SEE THE RECORD OF VIEWED EMPLOYEES*/
	#viewEmployeesC {
		background: transparent;
		margin: 0 30px 0 0;
	}

	#viewEmployeeBtn {
		position: relative;
		width: 100%; height: 100%;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
	}

	#viewEmployeeBtn img {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_view_carousel_50px.png);
	}

	#viewEmployeeBtn:hover img {
		content: url(../Assets/icons8_view_carousel_50px_4.png);
	}

	/*RECRUIT EMPLOYEES AND SEE THE RECORD OF RECRUITED EMPLOYEES*/
	#recruitmentEmployeeBtn {
		position: relative;
		width: 100%; height: 100%;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
	}

	#recruitmentEmployeeBtn img {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_send_job_list_50px.png);
	}

	#recruitmentEmployeeBtn:hover img {
		content: url(../Assets/icons8_send_job_list_50px_2.png);
	}

	/*ONLINE EMPLOYEES*/
	#onlineEmployeesC {
		float: right;
		display: block;
		position: relative;
		height: 100%;
		background: transparent;
		user-select: none;
		margin: 0;
	}

	#onlineEmployeesImg {
		float: left;
		position: relative;
		width: 36px; height: 36px;
		top: 50%;
		cursor: pointer;
		border-radius: 4px;
		margin-right: 5px;
		content: url(../Assets/icons8_management_30px_4.png);
		transform: perspective(1px) translateY(-50%);
	}

	#onlineEmployeesImg:hover {
		content: url(../Assets/icons8_management_30px_3.png);
	}

	#onlineEmployeesImg:hover + #onlineEmployeeTextC {
		color: rgb(255, 215, 0);
	}

	#onlineEmployeeTextC {
		float: left;
		position: relative;
		height: 30px;
		background: transparent;
		color: white;
		top: 50%;
		font-size: 22px;
		font-weight: bold;
		cursor: pointer;
		transform: perspective(1px) translateY(-50%);
	}

	#onlineEmployeeTextC:hover {
		color: rgb(255, 215, 0);
	}

	#lastUpdateInfoC {
		position: absolute;
		color: rgb(255, 215, 0);
		background: transparent;
		font-size: 13px;
		font-style: italic;
		bottom: -10px;
		opacity: 0;
		padding: 0 1px 0 1px;
	}

	#onlineAdminsC:hover ~ #lastUpdateInfoC {
		float: left;
		left: -10px;
		opacity: 1;
	}

	#onlineEmployeesC:hover ~ #lastUpdateInfoC {
		float: right;
		right: -10px;
		opacity: 1;
	}
	
	/*LOADING SCREEN FOR EMPLOYEES CSS*/
	#loadEmployeesC {
		position: relative;
		width: 100%; height: 100px;
		background: rgb(37, 52, 69);
		top: 0; left: 0;
		overflow: visible;
 	 	z-index: 10;
	}

	#loaderC {
		display: block;
		position: absolute;
  		width: 80px; height: 80px;
  		top: 10%; left: 47.25%;
  		background-size: 100%;
  		border-radius: 50%;
  		border: 16px solid white; /* Outside color */
  		border-top: 16px solid rgb(255, 215, 0);
  		border-bottom: 16px solid rgb(255, 215, 0); /* Inside color */
  		content: url(../Assets/icons8_flat_tire_100px.png);
  		transform: translate(-50%, -50%);
  		padding: 0;
  		animation: spin 2s linear infinite;
	}

	/*SEARCH BAR EMPLOYEES CSS*/
	#searchEmployeeC {
		position: relative;
		width: 40%;
		min-width: 350px;
		background: transparent;
		margin: auto;
		margin-top: 25px; margin-bottom: 5px;
	}
	
	#searchEmployeeInpt {
		width: 100%;
		background: white;
		font-size: 25px;
		text-align: center;
		letter-spacing: 1px;
		border-radius: 2px;
		border: 2px solid rgb(22, 36, 53);
		outline: none;
		padding: 5px 60px 5px 10px;
		transition: box-shadow 0.3s;
	}

	#searchEmployeeInpt::placeholder {
		font-size: 15px;
	}

	#searchEmployeeInpt:focus {
		box-shadow: 0px 0px 12px black;
	}

	#searchEmployeeBtn {
		float: right;
		position: absolute;
		width: 55px; height: 45px;
		background: transparent;
		top: 1px; right: 1px;
		cursor: pointer;
		outline: none;
		border-radius: 0 2px 2px 0;
		border: none;
	}

	#searchEmployeeBtn:hover {
		background: lightgrey;
	}

	#searchEmployeeBtn:focus {
		background: lightgrey;
	}

	#searchEmployeeBtn:active {
		background: grey;
	}

	#searchEmployeeBtn img {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_search_64px.png);
	}

	#typeOfSearchEmployeeC {
		display: table;
		position: relative;
		background: transparent;
		overflow: hidden;
		border-radius: 0 0 2px 2px;
		margin: auto;
	}

	#searchBarUsernameBtn {
		background: white;
		color: rgb(13, 18, 24);
		font-size: 15px;
		border: none;
		cursor: pointer;
		margin-right: 10px;
	}

	#searchBarUsernameBtn:hover {
		background: rgb(255, 215, 0);
	}
	
	#searchBarAFMBtn {
		background: white;
		color: rgb(13, 18, 24);
		font-size: 15px;
		border: none;
		cursor: pointer;
	}

	#searchBarAFMBtn:hover {
		background: rgb(255, 215, 0);
	}

	#searchBarAMKABtn {
		background: white;
		color: rgb(13, 18, 24);
		font-size: 15px;
		border: none;
		cursor: pointer;
		margin-left: 10px;
	}

	#searchBarAMKABtn:hover {
		background: rgb(255, 215, 0);
	}

	/*IN THIS DIV WILL LOAD ALL THE CONTENT FOR EMPLOYEE*/
	#employeeContentC {
		position: relative;
		width: 100%;
		background: transparent;
		font-family: Roboto Slab;
		user-select: none;
	}

	/*ALL MENUS BTNS TITLE CSS*/
	#titleOfContentC {
		display: inline-block;
		position: relative;
		background: rgb(13, 18, 24);
		color: white;
		left: 50%;
		font-size: 25px;
		border-radius: 4px 4px 0 0;
		user-select: auto;
		margin: auto;
		margin-bottom: 0px;
		padding: 4px 6px 4px 6px;
		box-shadow: 0px 2px 5px black;
		z-index: 1;
		transform: translate(-50%, 0);
	}

	/*SHOW START SCREEN OF EMPLOYEES CSS*/
	#showEmployeesC {
		background: transparent;
		width: 100%;
		user-select: none;
		padding: 30px 0 25px 0;
	}

	#showContentC {
		position: relative;
		width: 99%; height: auto;
		background: rgb(37, 52, 69);
		overflow: hidden;
		border-radius: 2px;
		margin: auto;
		margin-bottom: 50px;
		padding: 10px 0 80px 0;
		transition: box-shadow 0.3s;
		box-shadow: 0px 0px 3px black;
	}

	#allInfoLockedBtn {
		display: block;
		position: relative;
		width: 40px; height: 40px;
		background: transparent;
		overflow: hidden;
		cursor: pointer;
		border: none;
		margin: auto; margin-top: 5px; margin-bottom: 10px;
		padding: 0;
	}

	#allInfoLockedBtn img {
		width: 100%; height: 100%;
	}

	#leftClickEmployeesBtn {
		display: block;
		position: absolute;
		background: rgb(0, 0, 0, 0.4);
		color: white;
		top: 50%; left: 0px;
		font-size: 40px;
		border: none;
		cursor: pointer;
		z-index: 25;
		padding: 1px 5px 10px 5px;
		transform: translate(0, -50%);
	}

	#leftClickEmployeesBtn:hover {
		background: rgb(0, 0, 0, 0.6);
	}

	#leftClickEmployeesBtn:focus {
		background: rgb(0, 0, 0, 0.6);
	}

	#leftClickEmployeesBtn:active {
		background: rgb(0, 0, 0, 0.7);
	}

	#rightClickEmployeesBtn {
		display: block;
		position: absolute;
		background: rgb(0, 0, 0, 0.4);
		color: white;
		top: 50%; right: 0px;
		font-size: 40px;
		border: none;
		cursor: pointer;
		z-index: 25;
		padding: 1px 5px 10px 5px;
		transform: translate(0, -50%);
	}

	#rightClickEmployeesBtn:hover {
		background: rgb(0, 0, 0, 0.6);
	}

	#rightClickEmployeesBtn:focus {
		background: rgb(0, 0, 0, 0.6);
	}

	#rightClickEmployeesBtn:active {
		background: rgb(0, 0, 0, 0.7);
	}

	#centerShowContentC {
		display: block;
		position: relative;
		width: 1260px; height: 550px;
		background: transparent;
		overflow: hidden;
		border-radius: 2px;
		margin: auto;
		padding: 0;
		transition: border-left 0.7s, border-right 0.7s;
	}

	/*EMPLOYEES VIEW CSS*/
	#allElementsC {
		display: block;
		position: relative;
		width: 100%; height: 100%;
		background: transparent;
		left: 0;
		white-space: nowrap;
		transition: left 0.3s;
	}

	.panelOfEmployeeC {
		display: inline-block;
		position: relative;
		width: 33.333333%; height: 100%;
		background: rgb(22, 36, 53);
		overflow: auto;
		user-select: none;
		border-style: solid;
		border-color: darkgrey;
		border-width: 1px 2px 1px 2px;
		padding: 0;
	}

	.panelOfEmployeeC:hover {
		border-color: rgb(255, 215, 0);
	}

	/*WIDTH*/
	.panelOfEmployeeC::-webkit-scrollbar {
		width: 20px;
	}

	/*TRACK*/
	.panelOfEmployeeC::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey;
		border-radius: 2px;
	}
	 
	/*HANDLE*/
	.panelOfEmployeeC::-webkit-scrollbar-thumb {
		background: rgb(255, 215, 0);
		border-radius: 2px;
		border: 1px solid white; border-top: none; border-bottom: none;
	}

	/*HANDLE HOVER*/
	.panelOfEmployeeC::-webkit-scrollbar-thumb:hover {
		background: rgb(13, 18, 24); 
	}

	#employeeAskInfoC {
		position: absolute;
		display: block;
		width: 32px; height: 30px;
		background: transparent;
		left: 6px;
		padding: 4px 6px 4px 6px;
		z-index: 13;
	}
	
	#employeeAskInfoBtn {
		width: 100%; height: 100%;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
	}

	#employeeAskInfoBtn:hover img {
		content: url(../Assets/icons8_question_mark_30px_2.png);
	}
	
	#employeeAskInfoBtn:focus img {
		content: url(../Assets/icons8_question_mark_30px_2.png);
	}

	#employeeAskInfoBtn:active img {
		content: url(../Assets/icons8_question_mark_30px_3.png);
	}

	#employeeAskInfoImg {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_question_mark_30px.png);
	}

	#employeeEditInfoC {
		position: absolute;
		display: block;
		width: 34px; height: 32px;
		background: transparent;
		right: 6px;
		padding: 4px 6px 4px 6px;
		z-index: 13;
	}

	#employeeEditInfoBtn {
		width: 100%; height: 100%;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
	}

	#employeeEditInfoBtn:hover img {
		content: url(../Assets/icons8_edit_30px_2.png);
	}

	#employeeEditInfoBtn:active img {
		content: url(../Assets/icons8_edit_30px_3.png);
	}
	
	#employeeEditInfoImg {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_edit_30px.png);
	}

	#employeeStatusC {
		position: relative;
		width: 100%;
		background: rgb(13, 18, 24);
		color: white;
		font-size: 18px;
		text-align: center;
		padding: 4px;
		z-index: 12;
		transition: height 0.5s;
	}

	#easyFunctionsC {
		display: block;
		position: relative;
		width: 100%; height: 30px;
		background: transparent;
		cursor: pointer;
		margin-top: -60px; margin-bottom: 45px;
		padding: 0;
		transition: margin 0.3s;
	}

	.panelOfEmployeeC:hover #easyFunctionsC {
		margin-top: 5px; margin-bottom: 5px;
	}

	#employeeLockUnlockC {
		float: left;
		display: block;
		position: relative;
		width: 50%; height: 100%;
		background: transparent;
	}

		#employeeLockUnclockBtn {
			display: block;
			position: relative;
			cursor: pointer;
			width: 30px; height: 100%;
			background: transparent;
			cursor: pointer;
			border: none;
			margin: auto; 
			padding: 0;
		}

		#employeeLockUnclockImg {
			width: 100%; height: 100%;
		}

		#employeeLockUnclockImg:hover {
			content: url(../Assets/icons8_lock_50px_2.png);
		}

	#employeePasswdC {
		float: right;
		display: block;
		position: relative;
		width: 50%; height: 100%;
		background: transparent;
		padding: 0;
	}

		#employeePasswdBtn {
			display: block;
			position: relative;
			cursor: pointer;
			width: 30px; height: 100%;
			background: transparent;
			cursor: pointer;
			border: none;
			margin: auto; 
			padding: 0;
		}

		#employeePasswdImg {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_show_password_50px_1.png);
		}

		#employeePasswdImg:hover {
			content: url(../Assets/icons8_show_password_50px_3.png);
		}

	#employeeUpColumnC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
	}

	#employeeLeftInfoC {
		display: table-cell;
		position: relative;
		width: 80%;
		background: transparent;
		color: white;
		font-size: 16px;
	}

	#employeeNameC {
		position: relative;
		display: block;
		background: transparent;
		white-space: initial;
		text-align: left;
		border-radius: 5px;
		margin: 0 0 0 5px;
		padding: 1px;
	}

	#employeeNameTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}
	
	#employeeNameTextC {
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeUsernameC {
		position: relative;
		display: block;
		background: transparent;
		white-space: initial;
		text-align: left;
		border-radius: 5px;
		margin: 10px 0 0 5px;
	}

	#employeeUsernameTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}
	
	#employeeUsernameTextC {
		word-break: break-word;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeRightInfoC {
		display: table-cell;
		width: 20%;
		background: transparent;
		padding: 0 10px 0 10px;
	}

	#pictureOfEmployeeC {
		position: relative;
		display: block;
		width: 60px; height: 60px;
		background: rgb(13, 18, 24);
		color: darkgrey;
		top: 25px;
		overflow: hidden;
		border: 1px solid darkgrey;
	}

	#pictureOfEmployeeC:hover {
		background: transparent;
		border: none;
	}

	#pictureOfEmployeeC:hover #pictureOfEmployeeTextC {
		transform: translate(0, -120%);
	}

	#pictureOfEmployeeTextC {
		position: relative;
		width: 100%; height: 100%;
		transform-origin: left;
		transform: translate(36%, 52%) rotateZ(-45deg);
		transition: transform 0.3s;
	}

	#pictureOfEmployeeC:hover #pictureOfEmployeeImg {
		transform: translate(0, -120%);
	}

	#pictureOfEmployeeImg {
		position: relative;
		width: 100%; height: 100%;
		margin-top: 10px;
		transition: transform 0.3s;
	}

	#employeeEmailC {
		float: left;
		position: relative;
		width: 90%;
		background: transparent;
		color: white;
		font-size: 15px;
		white-space: initial;
		text-align: center;
		border-radius: 5px;
		margin: 10px 4% 0 4%;
		padding: 1px;
	}

	#employeeEmailTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}

	#employeeEmailTextC {
		word-break: break-word;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeBranchC {
		float: left;
		position: relative;
		width: 90%;
		background: transparent;
		color: white;
		font-size: 16px;
		white-space: initial;
		text-align: center;
		border-radius: 5px;
		margin: 10px 4% 0 4%;
		padding: 1px;
	}

	#employeeBranchTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}

	#employeeBranchTextC {
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeWageC {
		float: left;
		position: relative;
		width: 90%;
		background: transparent;
		color: white;
		font-size: 16px;
		white-space: initial;
		text-align: center;
		border-radius: 5px;
		margin: 10px 4% 0 4%;
		padding: 1px;
	}

	#employeeWageTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}

	#employeeWageTextC {
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeRecruitmentDayC {
		float: left;
		position: relative;
		width: 90%;
		background: transparent;
		color: white;
		font-size: 16px;
		white-space: initial;
		text-align: center;
		border-radius: 5px;
		margin: 10px 4% 0 4%;
		padding: 1px;
	}

	#employeeRecruitmentDayTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}
	
	#employeeRecruitmentDayTextC {
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeAFMC {
		float: left;
		position: relative;
		width: 90%;
		background: transparent;
		color: white;
		font-size: 16px;
		white-space: initial;
		text-align: center;
		border-radius: 5px;
		margin: 10px 4% 0 4%;
		padding: 1px;
	}

	#employeeAFMTitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}
	
	#employeeAFMTextC {
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	#employeeAMKAC {
		float: left;
		position: relative;
		width: 90%;
		background: transparent;
		color: white;
		font-size: 16px;
		white-space: initial;
		text-align: center;
		border-radius: 5px;
		margin: 10px 4% 0 4%;
		padding: 1px;
	}

	#employeeAMKATitleC {
		position: relative;
		color: grey;
		font-size: 13px;
		margin: 0 0 0 10px;
	}
	
	#employeeAMKATextC {
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
		user-select: text;
	}

	/*OTHER EVENTS LIKE DISCHARGE AND RESIGN WITH HOTKEY DOUBLE CLICK*/
	#dischOrResignOptionC {
		display: block;
		position: absolute;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.7);
		top: 0;
		z-index: 20;
	}

	/*CLOSE PANEL BUTTON*/
	#closeDOrROptionBtn {
		display: block;
		position: absolute;
		background: transparent;
		top: 30px; left: 50%;
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
		border: none;
		transform: translate(-50%, 0);
		z-index: 1;
	}

	#closeDOrROptionBtn:hover {
		color: rgb(255, 215, 0);
	}

	#reasonToActC {
		display: block;
		position: absolute;
		width: 100%;
		background: red;
		top: 100px;
		overflow: hidden;
	}

	#reasonToActTitleC {
		display: block;
		position: relative;
		width: 100%;
		background: rgb(22, 36, 53);
		color: white;
		text-align: center;
		font-size: 20px;
		padding: 6px;
	}

	#reasonToActTxtAr {
		display: block;
		position: relative;
		width: 100%; height: 200px;
		background: white;
		color: rgb(22, 36, 53);
		letter-spacing: 1px;
		font-size: 20px;
		resize: none;
		padding: 10px 5px 4px 5px;
	}

	/*WIDTH*/
	#reasonToActTxtAr::-webkit-scrollbar {
	  width: 20px;
	}

	/*TRACK*/
	#reasonToActTxtAr::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey;
	  border-radius: 2px;
	}
	 
	/*HANDLE*/
	#reasonToActTxtAr::-webkit-scrollbar-thumb {
	  background: rgb(22, 36, 53);
	  border-radius: 2px;
	  border: 1px solid white; border-top: none; border-bottom: none;
	}

	/*HANDLE HOVER*/
	#reasonToActTxtAr::-webkit-scrollbar-thumb:hover {
	  background: rgb(255, 215, 0); 
	}

	#showButtonFunctionC {
		display: table;
		position: absolute;
		background: transparent;
		color: rgb(13, 18, 24);
		top: 71%; left: 50%;
		font-size: 35px;
		padding: 4px;
		transform: translate(-50%, -50%);
	}

	#dischOrResignOptionCenterC {
		display: table;
		position: absolute;
		width: 40%;
		background: rgb(255, 215, 0);
		bottom: 0px; left: 50%;
		border-radius: 2px;
		border: 4px solid white;
		padding: 0;
		transform: translate(-50%, 0);
	}

	/*DISCHARGE EMPLOYEES AND SEE THE RECORD OF DISHARCED EMPLOYEES*/
	#dischargeEmployeesC {
		display: table-cell;
		position: relative;
		width: 50%; height: 100%;
		background: transparent;
		left: 0;
		border-right: 2px solid white;
		margin: 0;
	}

	#dischargeEmployeeBtn {
		position: relative;
		width: 100%; height: 100%;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 4px;
	}

	#dischargeEmployeeBtn:hover {
		background: rgb(13, 18, 24);
	}

	#dischargeEmployeeBtn img {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_retirement_50px.png);
	}

	#dischargeEmployeeBtn:hover img {
		content: url(../Assets/icons8_retirement_50px_2.png);
	}

	/*RESIGN EMPLOYEES AND SEE THE RECORD OF RESIGNED EMPLOYEES*/
	#resignationEmployeesC {
		display: table-cell;
		position: relative;
		width: 50%; height: 100%;
		background: transparent;
		left: 0;
		border-left: 2px solid white;
		margin: 0;
	}

	#resignationEmployeeBtn {
		position: relative;
		width: 100%; height: 100%;
		background: transparent;
		cursor: pointer;
		border: none;
		padding: 4px;
	}

	#resignationEmployeeBtn:hover {
		background: rgb(13, 18, 24);
	}

	#resignationEmployeeBtn img {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_leave_50px.png);
	}

	#resignationEmployeeBtn:hover img {
		content: url(../Assets/icons8_leave_50px_2.png);
	}

	/*COUNTER OF EMPLOYEE VIEW*/
	#downShowEmployeesCountC {
		position: absolute;
		background: rgb(0, 0, 0, 0.6);
		bottom: 25px; left: 50%;
		font-size: 1px;
		border-radius: 2px;
		padding: 4px 6px 4px 6px;
		transform: translate(-50%, 0);
		z-index: 20;
	}

	.downCounterEmployeesC {
		float: left;
		border: 11px solid rgb(255, 215, 0);
		border-radius: 50%;
		margin: 0 3px 0 3px;
	}

	#leftNoEmployee1C {
		border: 6px solid rgb(22, 36, 53);
		border-radius: 50%;
		margin: 5.5px 5px 0 0;
	}

	#leftNoEmployee2C {
		border: 9px solid rgb(22, 36, 53);
		border-radius: 50%;
		margin: 2px 4px 0 0;
	}

	#rightNoEmployee1C {
		border: 9px solid rgb(22, 36, 53);
		border-radius: 50%;
		margin: 2px 0 0 4px;
	}

	#rightNoEmployee2C {
		border: 6px solid rgb(22, 36, 53);
		border-radius: 50%;
		margin: 5.5px 0 0 5px;
	}

	#usernameEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#usernameEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#usernameEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
	}

	.showPassword2Btn {
		position: absolute;
		z-index: 10;
		width: 30px; height: 23px;
		background: transparent;
		top: 35px;
		outline: none;
		cursor: pointer;
		border: none;
		margin-left: -11%; 
	}

	.showPassword2Img {
		width: 30px; height: 30px;
		user-select: none;
		content: url("../Assets/passwdEyeClosed2.png");
		margin-top: -4px; margin-left: -6px;
	}

	.showPassword2Img:hover {
		content: url("../Assets/passwdEyeClosedHover.png");
	}

	#passwordEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#passwordEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#passwordEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
	}

	#passwordRepeatEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#passwordRepeatEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}
	
	#passwordRepeatEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px;
	}

	#emailEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#emailEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#emailEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px 4px 2px 4px;
	}

	#nameEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#nameEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#nameEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px 4px 2px 4px;
	}

	#wageEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#wageEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#wageEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px 4px 2px 4px;
	}

	#statusEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#statusEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#statusEmployeeEditSelect {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px 4px 2px 4px;
	}

	.optionsForStatus {
		text-align: center;
	}

	#branchIdEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#branchIdEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#branchIdEmployeeEditSlct {
		display: block;
		position: relative;
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		margin: auto;
		padding: 2px 4px 2px 4px;
	}

	#branchIdEmployeeEditSlct:focus {
		outline: none;
	}

	.optionsForBranch {
		text-align: center;
	}

	#recruitmentDayEmployeeEditC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 15px; margin-bottom: 25px;
		padding: 2px;
	}

	#recruitmentDayEmployeeEditTextC {
		position: relative;
		font-size: 22px;
		text-align: center;
		user-select: none;
	}

	#recruitmentDayEmployeeEditInpt {
		width: 100%;
		color: rgb(13, 18, 24);
		font-size: 18px;
		text-align: center;
		border-radius: 4px;
		border: 2px solid rgb(13, 18, 24);
		padding: 2px 4px 2px 4px;
	}

	#editConfirmBtnC {
		display: table;
		position: relative;
		width: 60%;
		background: transparent;
		overflow: hidden;
		margin: auto; margin-top: 30px; margin-bottom: 25px;
		padding: 2px;
	}
	
	#editConfirmBtn {
		width: 100%; height: 40px;
		background: rgb(255, 255, 255, 0.2);
		color: white;
		font-size: 25px;
		text-align: center;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid rgb(13, 18, 24);
		padding: 2px 4px 2px 4px;
	}

	#editConfirmBtn:hover {
		background: rgb(37, 52, 69);
	}

	#editConfirmBtn:active {
		background: rgb(13, 18, 24);
	}

	/*DISCHARGE VIEW OF EMPLOYEES*/
	#dischargeTitleOfContentC {
		display: inline-block;
		position: relative;
		background: rgb(13, 18, 24);
		color: white;
		left: 50%;
		font-size: 25px;
		border-radius: 4px 4px 0 0;
		user-select: auto;
		margin: auto;
		margin-bottom: 0px;
		padding: 4px 6px 4px 6px;
		box-shadow: 0px 2px 5px black;
		z-index: 1;
		transform: translate(-50%, 0);
	}

	#dischargeContentC {
		position: relative;
		width: 99%; height: auto;
		background: rgb(37, 52, 69);
		color: white;
		overflow: hidden;
		border-radius: 2px;
		margin: auto;
		margin-bottom: 50px;
		padding: 50px 20px 50px 20px;
		transition: box-shadow 0.3s;
		box-shadow: 0px 0px 3px black;
	}

	#dischargeCenterContentC {
		display: flex;
		flex-direction: row;
		background: rgb(23, 23, 23);
		overflow: auto;
		border: 2px solid rgb(13, 18, 24);
		user-select: text;
	}

	/*WIDTH*/
	#dischargeCenterContentC::-webkit-scrollbar {
	  width: 22px;
	  background: white;
	}

	/*TRACK*/
	#dischargeCenterContentC::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey;
	}
	 
	/*HANDLE*/
	#dischargeCenterContentC::-webkit-scrollbar-thumb {
	  background: rgb(22, 36, 53);
	  border: 1px solid white;
	}

	/*HANDLE HOVER*/
	#dischargeCenterContentC::-webkit-scrollbar-thumb:hover {
	  background: rgb(255, 215, 0);
	}

	.dischargeRowC {
		display: block;
		position: relative;
		width: 100%; height: 50px;
		border-top: 2px solid white;
	}

	/*RESIGN VIEW OF EMPLOYEES*/
	#resignTitleOfContentC {
		display: inline-block;
		position: relative;
		background: rgb(13, 18, 24);
		color: white;
		left: 50%;
		font-size: 25px;
		border-radius: 4px 4px 0 0;
		user-select: auto;
		margin: auto;
		margin-bottom: 0px;
		padding: 4px 6px 4px 6px;
		box-shadow: 0px 2px 5px black;
		z-index: 1;
		transform: translate(-50%, 0);
	}

	.infoAboutDblClickBtn {
		display: block;
		position: absolute;
		width: 35px; height: 35px;
		background: transparent;
		left: 50%;
		cursor: pointer;
		border-radius: 10%;
		border: none;
		margin-top: 8px;
		padding: 8px; padding-left: 6px;
		z-index: 10;
		transform: translate(-50%, 0);
	}

	.infoAboutDblClickBtn:hover img {
		content: url(../Assets/icons8_question_mark_30px_2.png);
	}

	.infoAboutDblClickBtn:active img {
		content: url(../Assets/icons8_question_mark_30px_3.png);
	}

	.infoAboutDblClickBtn img {
		width: 100%; height: 100%;
		content: url(../Assets/icons8_question_mark_30px.png);
	}

	#resignContentC {
		position: relative;
		width: 99%; height: auto;
		background: rgb(37, 52, 69);
		color: white;
		overflow: hidden;
		border-radius: 2px;
		margin: auto;
		margin-bottom: 50px;
		padding: 50px 20px 50px 20px;
		transition: box-shadow 0.3s;
		box-shadow: 0px 0px 3px black;
	}

	#resignCenterContentC {
		display: flex;
		flex-direction: row;
		background: rgb(23, 23, 23);
		overflow: auto;
		border: 2px solid rgb(13, 18, 24);
		user-select: text;
	}

	/*WIDTH*/
	#resignCenterContentC::-webkit-scrollbar {
	  width: 22px;
	  background: white;
	}

	/*TRACK*/
	#resignCenterContentC::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey;
	}
	 
	/*HANDLE*/
	#resignCenterContentC::-webkit-scrollbar-thumb {
	  background: rgb(22, 36, 53);
	  border: 1px solid white;
	}

	/*HANDLE HOVER*/
	#resignCenterContentC::-webkit-scrollbar-thumb:hover {
	  background: rgb(255, 215, 0);
	}

	.resignRowC {
		display: block;
		position: relative;
		width: 100%; height: 50px;
		border-top: 2px solid white;
	}

	/*DISCHARGE AND RESIGN VIEWS*/
	.nameExEmployeeViewC {
		display: block;
		position: relative;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-right: none;
		padding: 2px;
	}

		.nameTitleViewC {
			position: relative;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 40px 2px 40px;
		}

		.rowNameC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.emailExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.emailTitleViewC {
			display: block;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 40px 2px 40px;
		}

		.rowEmailC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.iconExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.iconTitleViewC {
			display: block;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowIconC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.lastBranchIdExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.lastBranchIdTitleViewC {
			display: block;
			height: 50px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowLastBranchIdC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.lastStatusExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.lastStatusTitleViewC {
			display: block;
			height: 50px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowLastStatusC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.lastWageExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.lastWageTitleViewC {
			display: block;
			height: 50px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 30px 2px 30px;
		}

		.rowLastWageC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.sexExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.sexTitleViewC {
			display: block;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 24px 2px 24px;
		}

		.rowSexC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.recruitmentDayExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.recruitmentDayTitleViewC {
			display: block;
			height: 50px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowRecruitmentDayC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.endDayExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.endDayTitleViewC {
			display: block;
			height: 50px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowEndDayC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.wayOutOfCompanyExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.wayOutOfCompanyTitleViewC {
			display: block;
			height: 50px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowWayOutOfCompanyC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.afmExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.afmTitleViewC {
			display: block;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowAfkC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.amkaExEmployeeViewC {
		display: block;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none; border-right: none;
		padding: 2px;
	}

		.amkaTitleViewC {
			display: block;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 30px 2px 30px;
		}

		.rowAmkaC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.reasonExEmployeeViewC {
		display: block;
		max-width: 600px;
		background: transparent;
		text-align: center;
		border: 1px solid white; border-left: none;
		padding: 2px;
	}

		.reasonTitleViewC {
			display: block;
			height: 50px;
			line-height: 45px;
			background: transparent;
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid white;
			padding: 2px 20px 2px 20px;
		}

		.rowReasonC {
			display: block;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			border-top: 2px solid white;
			padding: 10px;
		}

	.helperForHiringC {
		display: block;
		position: absolute;
		width: 100%; height: 100%;
		background: rgb(255, 255, 255, 0.6);
		top: 0; left: 0;
	}

	/*HIRE BACK EDIT INPUT*/
	


	/*IN THIS DIV WILL LOAD ALL THE CONTENT FOR RECRUITMENT OF EMPLOYEE*/
	#recruitNewEmployeeC {
		background: transparent;
		user-select: none;
		padding: 30px 0 25px 0;
	}

	/*PASSWORD IMAGES*/
	.showMePasswdImageBtn {
		position: absolute;
		z-index: 10;
		width: 30px; height: 23px;
		background: transparent;
		top: 27.5px;
		outline: none;
		cursor: pointer;
		border: none;
		margin-left: -11%; 
	}

	.showMePasswdImg {
		width: 30px; height: 30px;
		user-select: none;
		content: url("../Assets/passwdEyeClosed3.png");
		margin-top: -4px; margin-left: -6px;
	}

	.showMePasswdImg:hover {
		content: url("../Assets/passwdEyeClosedHover.png");
	}

	/*CENTER BASIC CONTAINER*/
	#recruitNewEmployeeContentC {
		display: table;
		position: relative;
		width: 99%;
		background: rgb(37, 52, 69);
		border-radius: 4px;
		border: 1px solid rgb(13, 18, 24);
		box-shadow: 0px 1px 5px black;
		margin: auto;
		padding: 20px;
	}

	/*ALL CONTAINERS OF INPUT OF RECRUITMENT*/
	.inputRecruitC {
		float: left;
		display: block;
		position: relative;
		width: 28.3%; height: 50px;
		background: transparent;
		margin: 15px 2% 25px 2%;
	}

	/*ALL TITLES OF INPUT OF RECRUITMENT*/
	.titleInputsRecruitC {
		color: white;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 2px;
	}

	/*ALL ALERT FOR PROBLEM DIVS OF RECRUITMENT*/
	.problemInputsRecruitC {
		color: red;
		font-size: 11px;
		margin-bottom: 5px;
		padding-left: 5px;
	}

	/*ALL INPUTS FOR RECRUITMENT INFO*/
	.inptsOfRecruitInput {
		width: 100%;
		background: rgb(13, 18, 24);
		color: white;
		font-size: 20px;
		text-align: center;
		letter-spacing: 1px;
		border-radius: 2px;
		border: 1px solid white;
		padding: 4px 0 4px 0; padding-left: 6px; padding-right: 6px;

	}

	.inptsOfRecruitInput:focus {
		border: 1px solid rgb(255, 215, 0);
		outline: 1px solid rgb(255, 215, 0);
		box-shadow: 0 0 4px 0 grey;
	}

	/*ALL OPTIONS OF SELECTS RECRUITMENT INFO*/
	.inputRecruitOptions {
		color: white;
	}

	/*USERNAME INPUT RECRUITMENT CONTAINER*/
	#usernameRecruitC {

	}

		#usernameTitleRecruitC {

		}

		#usernameProblemC {

		height: 1px;
		}

		#usernameInput {

		}

	/*EMAIL INPUT RECRUITMENT CONTAINER*/
	#emailRecruitC {

	}

		#emailTitleRecruitC {

		}

		#emailProblemC {

		}

		#emailInput {

		}

	/*NAME INPUT RECRUITMENT CONTAINER*/
	#nameRecruitC {

	}

		#nameTitleRecruitC {

		}

		#nameProblemC {

		}

		#nameInput {

		}

	/*ICON INPUT RECRUITMENT CONTAINER*/
	#iconRecruitC {

	}

		#iconTitleRecruitC {

		}

		#iconProblemC {

		}

		#iconSlct {

		}

		#iconMenuC {
			display: none;
			position: fixed;
			background: rgb(255, 215, 0);
			color: rgb(13, 18, 24);
			top: 0; left: 50px;
			font-size: 18px;
			text-align: center;
			border: 2px solid white;
			padding: 10px;
			z-index: 100;
		}

		#iconMenuTitleC {
			border-bottom: 2px solid rgb(13, 18, 24);
		}

		#iconMenuContentC {
			width: 90px; height: 90px;
			background: rgb(13, 18, 24);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: auto; margin-top: 10px;
		}

	/*BRANCH ID INPUT RECRUITMENT CONTAINER*/
	#branchIdRecruitC {

	}

		#branchIdTitleRecruitC {

		}

		#branchIdProblemC {

		}

		#branchIdSlct {

		}

	/*STATUS INPUT RECRUITMENT CONTAINER*/
	#statusRecruitC {

	}

		#statusTitleRecruitC {

		}

		#statusProblemC {

		}

		#statusSlct {

		}

	/*SEX INPUT RECRUITMENT CONTAINER*/
	#sexRecruitC {

	}

		#sexTitleRecruitC {

		}

		#sexProblemC {

		}

		#sexSlct {

		}

	/*WAGE INPUT RECRUITMENT CONTAINER*/
	#wageRecruitC {

	}

		#wageTitleRecruitC {

		}

		#wageProblemC {

		}

		#wageInput {

		}

	/*RECRUITMENT DAY INPUT RECRUITMENT CONTAINER*/
	#recruitmentDayRecruit {

	}

		#recruitmentDayTitleRecruitC {

		}

		#recruitmentDayProblemC {

		}

		#recruitmentDayInput {

		}

	/*PASSWORD INPUT RECRUITMENT CONTAINER*/
	#passwordRecruitC {

	}

		#passwordTitleRecruitC {

		}

		#passwordProblemC {

		}

		#passwordInput {
			padding-right: 38px;
		}

	/*PASSWORD RETYPE INPUT RECRUITMENT CONTAINER*/
	#passwordRepeatRecruitC {

	}

		#passwordRepeatTitleRecruitC {

		}

		#passwordRepeatProblemC {

		}

		#passwordRepeatInput {
			padding-right: 38px;
		}

	/*AFM INPUT RECRUITMENT CONTAINER*/
	#afmRecruitC {

	}

		#afmTitleRecruitC {

		}

		#afmInput {

		}

		#afmProblemC {

		}
	
	/*AMKA INPUT RECRUITMENT CONTAINER*/
	#amkaRecruitC {

	}
		
		#amkaTitleRecruitC {

		}
		
		#amkaInput {

		}

		#amkaProblemC {

		}

	#emplIdRecruitC {
		
	}
		
		#emplIdTitleRecruitC {

		}
		
		#emplIdInput {

		}
		
		#emplIdProblemC {

		}

	/*CONFIRM RECRUIT EMPLOYEE*/
	#confirmRecruitEmployeeBtn {
		float: left;
		display: block;
		position: relative;
		width: 15.3%;
		background: rgb(13, 18, 24);
		color: white;
		font-size: 24px;
		cursor: pointer;
		margin: 15px 9% 20px 9%;
		padding: 5px;
	}

	/*MEDIA FOR LOWER PIXEL SCREEN*/
	@media screen and (max-width: 1200px) {
	}


	/*ANIMATIONS*/
	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg); }
	}

	@keyframes roundBorderToRight {
		0% { width: 4px; border-top: 2px solid white; }
		33% { width: 4px; border-right: 2px solid rgb(61, 18, 26); }
		66% { width: 4px; border-bottom: 2px solid white; }
		100% { width: 4px; border-left: 2px solid rgb(61, 18, 26); }
	}

	@keyframes roundBorderToLeft {
		0% { width: 4px; border-top: 2px solid white; }
		33% { width: 4px; border-left: 2px solid rgb(61, 18, 26); }
		66% { width: 4px; border-bottom: 2px solid white; }
		100% { width: 4px; border-right: 2px solid rgb(61, 18, 26); }
	}

	@keyframes rotate {
		from { 
            transform: rotateY(0deg); 
        } to { 
            transform: rotateY(360deg); 
        }
	}