	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		height: 100%;
		background: transparent;
		margin: 0;
		padding: 0;
	}

	button {
		font-family: Roboto Slab;
		user-select: none;
	}

	input {
		font-family: Roboto Slab;
	}

	input:disabled {
		background: rgb(255, 255, 255, 0.4);
	}

	select {
		font-family: Roboto Slab;
	}
	
	select:disabled {
		background: rgb(255, 255, 255, 0.4);
	}

	#branchesContentC {
		position: relative;
		width: 100%; height: auto;
		overflow: hidden;
		background: transparent;
		font-family: Roboto Slab;
		user-select: none;
		z-index: 1;
	}

	#branchTopBarC {
		position: relative;
		width: 100%; height: 62px;
		background: rgb(22, 28, 34);
		overflow: hidden;
		padding: 10px 0 10px 0;
		box-shadow: 0 0 10px black;
	}

	#branchesHeaderCountC {
		float: left;
		position: absolute;
		background: transparent;
		top: 50%;
		margin: 0 0 0 5%;
		transform: translate(0, -50%);
	}

	#branchesHeaderCountC:hover + #lastUpdateInfoC {
		opacity: 1;
	}

	.statusBranchesC {
		float: left;
		position: relative;
		height: 30px;
		color: white;
		background: transparent;
		font-size: 20px;
		font-style: italic;
		font-weight: bold;
		user-select: text;
		margin-right: 30px;
		padding: 2px;
	}

	.statusBranchesImgC {
		float: left;
		position: relative;
		width: 25px; height: 100%;
		margin-right: 4px;
	}

	#activeBranchesC {
		content: url(../Assets/icons8_ok_30px.png);
	}

	#underReconstBranchesC {
		content: url(../Assets/icons8_construction_carpenter_ruler_30px.png);
	}

	#underConstBranchesC {
		content: url(../Assets/icons8_construction_30px.png);
	}

	#problemBrC {
		margin-right: 0px;
	}

	#problemBranchesC {
		content: url(../Assets/icons8_high_priority_30px.png);
	}

	.statusNumC {
		display: inline-block;
		position: relative;
		height: 100%;
		user-select: text;
		padding: 2px 0 2px 0;
	}

	#lastUpdateInfoC {
		float: left;
		position: absolute;
		color: white;
		background: transparent;
		font-size: 11px;
		font-style: italic;
		opacity: 0;
		left: 40px; bottom: 0;
		user-select: text;
		padding: 0 1px 0 1px;
	}

	#lastUpdateInfoC:hover {
		opacity: 1;
	}

	#listOfBranchesBtn {
		position: absolute;
		width: 46px; height: 46px;
		background: transparent;
		top: 50%; left: 50%;
		cursor: pointer;
		border: none;
		padding: 0;
		transform: translate(-50%, -50%);
	}

	#listOfBranchesBtn img {
		width: 100%; height: 100%;
		background-size: 100%;
		content: url(../Assets/icons8_shortlist_52px.png);
	}

	#listOfBranchesBtn:hover img {
		content: url(../Assets/icons8_shortlist_52px_2.png);
	}

	#listOfBranchesBtn:active img {
		content: url(../Assets/icons8_shortlist_52px_3.png);
	}

	#newBranchBtnC {
		float: right;
		position: absolute;
		top: 50%; right: 30px;
		overflow: hidden;
		transform: translate(0, -50%);
	}

	#newBranchBtn {
		background: rgb(0, 0, 0, 0.3);
		color: white;
		font-size: 30px;
		font-weight: bold;
		cursor: pointer;
	}

	#newBranchBtn div {
	}

	/*IN THIS DIV WILL LOAD ALL THE CONTENT FOR ADMIN*/
	#branchContentC {
		position: relative;
		width: 100%;
		background: rgb(111, 142, 171, 0.0);
	}

	/*START SCREEN CSS*/

		/*LOADING SCREEN CSS*/
	#loadBranchesC {
		position: relative;
		width: 100%; height: 100px;
		background: rgb(100, 0, 0, 0.5);
		top: 0; left: 0;
		overflow: hidden;
 	 	z-index: 10;
	}

	#loaderC {
		position: absolute;
  		width: 80px; height: 80px;
  		top: 10%; left: 47.25%;
  		background-size: 100%;
  		border-radius: 50%;
  		border: 16px solid white; /* Outside color */
  		border-top: 16px solid rgb(255, 215, 0);
  		border-bottom: 16px solid rgb(255, 215, 0); /* Inside color */
  		content: url(../Assets/icons8_flat_tire_100px.png);
  		transform: translate(-50%, -50%);
  		padding: 0;
  		animation: spin 2s linear infinite;
	}

		/*SHOW BRANCHES CSS*/
	#titleShowBranchesC {
		display: block;
		position: relative;
		height: 45px;
		background: rgb(13, 18, 24);
		color: white;
		font-size: 28px;
		border-radius: 4px 4px 0 0;
		user-select: auto;
		margin: auto;
		margin-bottom: 0px;
		padding: 4px 6px 4px 6px;
		box-shadow: 0px 2px 5px black;
		z-index: 1;
	}

		#titleTextShowBranchesC {
			float: left;
			display: table;
			position: relative;
			background: transparent;
			left: 50%;
			margin: auto;
			transform: translate(-50%, 0);
		}

		#buttonsMenuActionsC {
			float: right;
			display: block;
			background: transparent;
			font-size: 23px;
			margin-top: 2px;
			z-index: 1;
		}

		#openCloseAllBranchesInfoBtn {
			background: white;
			color: rgb(13, 18, 24);
			font-size: 23px;
			cursor: pointer;
			border-radius: 8px;
			border: none;
		}

		#openCloseAllBranchesInfoBtn:hover {
			background: rgb(255, 215, 0);
		}

	#showBranchesC {
		position: relative;
		padding: 30px 50px 30px 50px;
	}

	.branchListViewC {
		position: relative;
		width: 100%;
		background: transparent;
		margin: 0;
	}

		/*PROTOTYPE BRANCH VIEW CSS*/
	.prototypeBranchViewC {
		display: inline-block;
		position: relative;
		width: 100%; height: auto;
		background: white;
		font-size: 20px;
		border: 4px solid rgb(22, 28,34); border-bottom: 4px solid rgb(255, 215, 0);
		overflow: hidden;
		padding: 5px 5px 0 5px;
		margin-top: 10px;
	}

			/*TOP PART OF ELEMENTS CSS*/
	#topBranchListC {
		float: left;
		position: relative;
		width: 100%;
		background: transparent;
		top: 0;
	}

	#typeBrViewC {
		position: absolute;
		top: -6px; left: 50%;
		border-radius: 2px;
		border: 1px solid rgb(22, 28,34); border-top: none;
		user-select: text;
		padding: 0 3px 0 3px;
		transform: translate(-50%, 0); 
	}

	#statusBrViewC {
		float: left;
		position: relative;
		width: 25px; height: 25px;
		background-size: 100%;
		margin-left: 4px;
	}

	#uniqueIdBrViewC {
		float: left;
		position: relative;
		font-size: 15px;
		letter-spacing: 1px;
		user-select: text;
		margin: 3px 0 0 4px;
	}

	#connectBrViewBtn {
		float: right;
		position: relative;
		width: 35px; height: 35px;
		background: transparent;
		cursor: pointer;
		border: none;
		margin: 1px 15px 2px 0;
		padding: 0;
		transition: 0.1s;
	}

	#connectBrViewBtn:hover {
		transform: rotate(-90deg);
	}

	#connectBrViewBtn img {
		width: 100%; height: 100%;
		background-size: 100%;
		content: url(../Assets/icons8_connect_50px_1.png);
	}

	#connectBrViewBtn:hover img {
		content: url(../Assets/icons8_connect_50px_4.png);
	}

	#connectBrViewBtn:active img {
		content: url(../Assets/icons8_connect_50px_1.png);
	}

	/*CONNECT BRANCHES IN THIS SCREEN*/
	#branchesConnectionsContentC {
		position: absolute;
		width: 100%;
		background: darkgrey;
		top: 0; bottom: 0;
		border-radius: 4px;
		border-top: 2px solid rgb(13, 18, 24);
		padding: 5px;
	}
	
	#allBranchesConnC {
		width: 100%; height: 100%;
		background: rgb(44, 50, 58);
		overflow: auto;
		border-radius: 4px;
		border: 2px solid rgb(22, 36, 53);
	}

	#firstRowOfBrConnectionsContentC {
		display: block;
		width: 100%; height: 40px;
		background: rgb(44, 50, 58);
		color: rgb(13, 18, 24);
		border-bottom: 2px solid rgb(255, 215, 0);
	}

		#titleConnectedBranchesC {
			float: left;
			display: table;
			width: 44px; height: 100%;
			background: transparent;
			border-left: 2px solid rgb(255, 215, 0); border-right: 2px solid rgb(255, 215, 0);
			margin-left: 4px;
			padding: 4px;
		}

		#titleConnectedBranchesImg {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_connected_50px.png);
		}

		#titleNotConnectedBranchesC {
			float: left;
			display: table;
			width: 44px; height: 100%;
			background: transparent;
			border-left: 2px solid rgb(255, 215, 0); border-right: 2px solid rgb(255, 215, 0);
			margin-left: 8px; margin-right: 8px;
			padding: 4px;
		}

		#titleNotConnectedBranchesImg {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_disconnected_50px_2.png);
		}

		#titleOfBranchesToConnC {
			position: relative;
			height: 100%;
			background: transparent;
			overflow: hidden;
			text-align: center;
			border-left: 2px solid rgb(255, 215, 0); border-right: 2px solid rgb(255, 215, 0);
			margin-right: 4px;
			padding-top: 3px;
		}

		#updateBranchesConnectedBtn {
			position: absolute;
			background: rgb(13, 18, 24);
			color: white;
			top: 0; left: 20px;
			font-size: 18px;
			cursor: pointer;
			border: 2px solid lightgrey;
			margin-top: -200px;
			transition: margin-top 0.3s;
		}

		#updateBranchesConnectedBtn:hover {
			background: rgb(255, 215, 0);
		}

		#updateBranchesConnectedBtn:active {
			background: rgb(22, 36, 53);
		}
		
		#titleTextOfBranchesToConnC {
			background: transparent;
			color: white;
			font-size: 24px;
		}

		#resetBranchesConnectedBtn {
			position: absolute;
			background: rgb(13, 18, 24);
			color: white;
			top: 0; right: 20px;
			font-size: 18px;
			cursor: pointer;
			border: 2px solid lightgrey;
			margin-top: -200px;
			transition: margin-top 0.3s;
		}

		#resetBranchesConnectedBtn:hover {
			background: rgb(255, 215, 0);
		}

		#resetBranchesConnectedBtn:active {
			background: rgb(22, 36, 53);
		}

	.rowForConnBranchC {
		display: block;
		width: 100%; height: 40px;
		background: rgb(69, 80, 93);
		color: rgb(13, 18, 24);
		margin-top: 6px;
	}

		.rowConnectForConnBranchC {
			float: left;
			display: table;
			width: 44px; height: 100%;
			background: transparent;
			border-left: 2px solid rgb(255, 215, 0); border-right: 2px solid rgb(255, 215, 0);
			margin-left: 4px;
			padding: 4px;
		}

		.rowConnectForConnBranchBtn {
			width: 100%; height: 100%;
			background: transparent;
			cursor: pointer;
			border: none;
			border-radius: 50%;
			padding: 0;
		}

		.rowConnectForConnBranchBtn:hover {
			background: lightgrey;
		}

		.rowConnectForConnBranchImg {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_connection_status_on_50px_1.png);
		}

		.rowNotConnectForConnBranchC {
			float: left;
			display: table;
			width: 44px; height: 100%;
			background: transparent;
			border-left: 2px solid rgb(255, 215, 0); border-right: 2px solid rgb(255, 215, 0);
			margin-left: 8px; margin-right: 8px;
			padding: 4px;
		}

		.rowNotConnectForConnBranchBtn {
			width: 100%; height: 100%;
			background: transparent;
			cursor: pointer;
			border: none;
			border-radius: 50%;
			padding: 0;
		}

		.rowNotConnectForConnBranchBtn:hover {
			background: lightgrey;
		}

		.rowNotConnectForConnBranchImg {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_connection_status_on_50px_1.png);
		}

		.rowBranchForConnBranchC {
			height: 100%;
			background: transparent;
			font-size: 24px;
			overflow: hidden;
			text-align: left;
			border-left: 2px solid rgb(255, 215, 0); border-right: 2px solid rgb(255, 215, 0);
			margin-right: 4px;
			padding-top: 3px; padding-left: 18px;
		}


	/**/
	
	#deleteBrViewBtn {
		float: right;
		position: relative;
		width: 34px; height: 34px;
		background: transparent;
		cursor: pointer;
		border: none;
		margin: -1px 18px 2px 0;
		padding: 0;
	}

	#deleteBrViewBtn img {
		width: 100%; height: 100%;
		background-size: 100%;
		content: url(../Assets/icons8_delete_bin_50px.png);
	}

	#deleteBrViewBtn:hover img {
		content: url(../Assets/icons8_delete_bin_50px_2.png);
	}

	#deleteBrViewBtn:active img {
		content: url(../Assets/icons8_delete_bin_50px.png);
	}

	#editBrViewBtn {
		float: right;
		position: relative;
		width: 32px; height: 32px;
		background: transparent;
		cursor: pointer;
		border: none;
		margin: 4px 6px 2px 0;
		padding: 0;
	}

	#editBrViewBtn img {
		width: 100%; height: 100%;
		background-size: 100%;
		content: url(../Assets/icons8_edit_property_30px.png);
	}

	#editBrViewBtn:hover img {
		content: url(../Assets/icons8_edit_property_30px_2.png);
	}

	#editBrViewBtn:active img {
		content: url(../Assets/icons8_edit_property_30px.png);
	}

			/*MIDDLE PART OF ELEMENTS CSS*/
	#midBranchListC {
		float: left;
		position: relative;
		width: 100%; height: 200px;
		background: transparent;
		padding: 0 0 0 20px;
	}

	#imageBranchC {
		float: left;
		position: relative;
		width: 300px; height: 100%;
		background: rgb(0, 0, 0, 0.3);
		overflow: hidden;
		border-radius: 2px;
	}

	#imageBranchC img {
		width: 100%; height: 100%;
	}

	#rightSideInfoC {
		position: relative;
		height: 100%;
		background: transparent;
		overflow: hidden;
	}

	#locationBranchC {
		display: table;
		position: relative;
		background: transparent;
		margin: 5px 0 0 20px;
	}

	#locationBranchC img {
		float: left;
		width: 40px; height: 40px;
		content: url(../Assets/icons8_location_40px.png)
	}

	#locationTextBranchC {
		float: left;
		background: transparent;
		color: rgb(22, 28, 34);
		font-size: 25px;
		font-weight: bold;
		user-select: text;
		margin: 6px 0 0 14px;
	}

	#streetBranchC {
		float: left;
		font-size: 18px;
		font-weight: none;
		user-select: text;
		margin: 12px 0 0 7px;
	}

	#managerNameC {
		display: table;
		position: relative;
		background: transparent;
		cursor: pointer;
		border-radius: 5px;
		margin: 28px 0 0 20px;
	}

	#managerNameC img {
		float: left;
		width: 34px; height: 34px;
		font-size: 12px;
		margin-left: 3px;
	}

	#managerTextBranchC {
		float: left;
		background: transparent;
		color: rgb(22, 28, 34);
		font-size: 19px;
		font-weight: bold;
		font-style: italic;
		user-select: text;
		margin: 4.5px 0 0 19px;
		padding: 0 6px 0 0;
	}

	#numberOfEmployeesC {
		position: absolute;
		background: transparent;
		color: rgb(22, 28, 34);
		top: 28px; left: 650px;
		font-size: 19px;
		user-select: text;
		padding: 0 6px 0 0;
	}
	
	#numberOfBusesC {
		position: absolute;
		background: transparent;
		color: rgb(22, 28, 34);
		top: 90px; left: 650px;
		font-size: 19px;
		user-select: text;
		padding: 0 6px 0 0;
	}

		#allAvailAndUnavailNumberOfBusesC {
			float: left;
			display: block;
			position: relative;
			font-weight: bold;
			font-style: italic;
			margin-left: 10px; margin-top: -2px;
		}
		
			#containerOfAvailableBusesC {
				display: block;
				position: relative;
				height: 35px;
				background: transparent;
			}
			
			#picOfAvailableBusesImg {
				float: left;
				width: 25px; height: 25px;
				content: url(../Assets/icons8_bus_50px_4.png);
				margin-top: 4px;
			}
			
			#numberOfAvailableBusesC {
				color: rgb(7, 48, 18);
				overflow: hidden;
				padding-top: 4px; padding-right: 4px; padding-left: 12px;
			}

			#containerOfUnavailableBusesC {
				display: block;
				position: relative;
				height: 35px;
				background: transparent;
				margin-top: 4px;
			}
			
			#picOfUnavailableBusesImg {
				float: left;
				width: 25px; height: 25px;
				content: url(../Assets/icons8_double_exclamation_mark_50px.png);
				margin-top: 4px;
			}
			
			#numberOfUnavailableBusesC {
				color: rgb(102, 8, 1);
				overflow: hidden;
				padding-top: 4px; padding-right: 4px; padding-left: 12px;
			}

	#adminControlsC {
		position: absolute;
		background: transparent;
		color: rgb(22, 28, 34);
		bottom: 20px; left: 30px;
		font-size: 19px;
		user-select: text;
		padding: 0 6px 0 0;
	}

		/*DOWN PART OF ELEMENTS CSS*/
	#downBranchListInfoC {
		float: left;
		position: relative;
		width: 100%; height: 41px;
		background: transparent;
	}

	#downBranchThatGoesTopC {
		display: block;
		position: relative;
		width: 100%; height: auto;
		background: rgb(93, 120, 144);
		top: 7px;
		overflow: visible;
		margin: auto;
		transition: top 1s ease 0s;
	}

	#branchInfoBtn {
		display: block;
		position: relative;
		width: 100%;
		background: rgb(13, 18, 24);
		color: white;
		font-size: 20px;
		cursor: pointer;
		border-radius: 2px 2px 0 0;
		border: none;
		margin: auto;
		padding: 4px;
	}

	#branchInfoBtn:hover {
		background: rgb(93, 120, 144);
	}

	#branchInfoBtn:active {
		background: rgb(13, 18, 24);
	}

	#branchInfoBtn:focus {
		outline: 2px solid rgb(255, 215, 0);
	}

	#branchInfoC {
		display: block;
		position: relative;
		width: 100%;
		background: rgb(255, 255, 255, 0.5);
		color: white;
		font-size: 25px;
		overflow: hidden;
		border-radius: 0 0 5px 5px;
		margin: auto; margin-top: 0px;
		padding: 2px 8px 10px 8px;	
	}

	.allContainerForBranchEmplC {
		display: block;
		position: relative;
		width: 100%; height: 220px;
		background: transparent;
		overflow: scroll;
		padding: 2px 4px 4px 0;
	}

	/*WIDTH*/
	.allContainerForBranchEmplC::-webkit-scrollbar {
		width: 15px;
		background: transparent;
	}

	/*TRACK*/
	.allContainerForBranchEmplC::-webkit-scrollbar-track {
		background: transparent;
	}
	
	/*HANDLE*/
	.allContainerForBranchEmplC::-webkit-scrollbar-thumb {
		background: rgb(13, 18, 24);
	}

	/*HANDLE ON HOVER*/
	.allContainerForBranchEmplC::-webkit-scrollbar-thumb:hover {
		background: rgb(255, 215, 0);
	}

	.managerEmplForBranchViewC {
		display: table;
		position: relative;
		width: 100%;
		background: transparent;
		border-top: 4px solid rgb(13, 18, 24); border-left: 4px solid rgb(13, 18, 24); border-right: 4px solid rgb(13, 18, 24); border-bottom: 4px solid rgb(13, 18, 24);	
		margin: 5px 0 0 0;
	}

		.managerEmplForBranchViewTitleC {
			float: left;
			font-size: 19px;
			text-align: center;
			background: rgb(255, 215, 0);
			border-radius: 0 0 4px 0;
			border-right: 2px solid rgb(13, 18, 24); border-bottom: 2px solid rgb(13, 18, 24);
			padding: 0 4px 0 4px;
		}

		.managerEmplForBranchViewContentC {
			display: block;
			position: relative;
			background: transparent;
			font-size: 17px;
			overflow: hidden;
			margin-top: 3px;
			padding-left: 10px;
		}

	.agencyEmplForBranchViewC {
		display: table;
		width: 100%;
		background: transparent;
		border-top: 4px solid rgb(13, 18, 24); border-left: 4px solid rgb(13, 18, 24); border-right: 4px solid rgb(13, 18, 24); border-bottom: 4px solid rgb(13, 18, 24);
		margin: 5px 0 0 0;
	}

		.agencyEmplForBranchViewTitleC {
			float: left;
			background: rgb(255, 215, 0);
			font-size: 19px;
			text-align: center;
			border-radius: 0 0 4px 0;
			border-right: 2px solid rgb(13, 18, 24); border-bottom: 2px solid rgb(13, 18, 24);
			padding: 0 4px 0 4px;
		}

		.agencyEmplForBranchViewContentC {
			display: block;
			position: relative;
			background: transparent;
			font-size: 17px;
			overflow: hidden;
			margin-top: 3px;
			padding-left: 10px;
		}

	.storeEmplForBranchViewC {
		display: table;
		width: 100%;
		background: transparent;
		border-top: 4px solid rgb(13, 18, 24); border-left: 4px solid rgb(13, 18, 24); border-right: 4px solid rgb(13, 18, 24); border-bottom: 4px solid rgb(13, 18, 24);
		margin: 5px 0 0 0;
	}

		.storeEmplForBranchViewTitleC {
			float: left;
			background: rgb(255, 215, 0);
			font-size: 19px;
			text-align: center;
			border-radius: 0 0 4px 0;
			border-right: 2px solid rgb(13, 18, 24); border-bottom: 2px solid rgb(13, 18, 24);
			padding: 0 4px 0 4px;
		}

		.storeEmplForBranchViewContentC {
			display: block;
			position: relative;
			background: transparent;
			font-size: 17px;
			overflow: hidden;
			margin-top: 3px;
			padding-left: 10px;
		}

	.driverForBranchViewC {
		display: table;
		width: 100%;
		background: transparent;
		border-top: 4px solid rgb(13, 18, 24); border-left: 4px solid rgb(13, 18, 24); border-right: 4px solid rgb(13, 18, 24); border-bottom: 4px solid rgb(13, 18, 24);
		margin: 5px 0 0 0;
	}

		.driverForBranchViewTitleC {
			float: left;
			background: rgb(255, 215, 0);
			font-size: 19px;
			text-align: center;
			border-radius: 0 0 4px 0;
			border-right: 2px solid rgb(13, 18, 24); border-bottom: 2px solid rgb(13, 18, 24);
			padding: 0 4px 0 4px;
		}

		.driverForBranchViewContentC {
			display: block;
			position: relative;
			background: transparent;
			font-size: 17px;
			overflow: hidden;
			margin-top: 3px;
			padding-left: 10px;
		}

	.securityForBranchViewC {
		display: table;
		width: 100%;
		background: transparent;
		border-top: 4px solid rgb(13, 18, 24); border-left: 4px solid rgb(13, 18, 24); border-right: 4px solid rgb(13, 18, 24); border-bottom: 4px solid rgb(13, 18, 24);
		margin: 5px 0 0 0;
	}

		.securityForBranchViewTitleC {
			float: left;
			background: rgb(255, 215, 0);
			font-size: 19px;
			text-align: center;
			border-radius: 0 0 4px 0;
			border-right: 2px solid rgb(13, 18, 24); border-bottom: 2px solid rgb(13, 18, 24);
			padding: 0 4px 0 4px;
		}

		.securityForBranchViewContentC {
			display: block;
			position: relative;
			background: transparent;
			font-size: 17px;
			overflow: hidden;
			margin-top: 3px;
			padding-left: 10px;
		}

	.cleanerForBranchViewC {
		display: table;
		width: 100%;
		background: transparent;
		border-top: 4px solid rgb(13, 18, 24); border-left: 4px solid rgb(13, 18, 24); border-right: 4px solid rgb(13, 18, 24); border-bottom: 4px solid rgb(13, 18, 24);
		margin: 5px 0 0 0;
	}

		.cleanerForBranchViewTitleC {
			float: left;
			background: rgb(255, 215, 0);
			font-size: 19px;
			text-align: center;
			border-radius: 0 0 4px 0;
			border-right: 2px solid rgb(13, 18, 24); border-bottom: 2px solid rgb(13, 18, 24);
			padding: 0 4px 0 4px;
		}

		.cleanerForBranchViewContentC {
			display: block;
			position: relative;
			background: transparent;
			font-size: 17px;
			overflow: hidden;
			margin-top: 3px;
			padding-left: 10px;
		}


	.itemsInsideC {
		float: left;
		background: rgb(22, 36, 53);
		border-radius: 4px;
		margin-left: 4px; margin-right: 6px;
		padding: 0 6px 0 6px;
	}

	.itemsInsideC:hover {
		background: rgb(13, 18, 24);
	}

		.itemsInsideCImg {
		}

		.itemsInsideNameC {
			background: transparent;
			cursor: pointer;
		}

		/*EDIT BRANCHES INFO*/
		#adminControlBrC {
			display: block;
			position: relative;
			width: 100%;
			background: transparent;
			margin: 15px 0 30px 0;
		}

		#adminControlTitleBrC {
			font-size: 22px;
			text-align: center;
			margin: 0 0 5px 0;

		}

		#adminControlContentBrInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 18px;
			text-align: center;
			border-radius: 2px;
			border: 2px solid rgb(13, 18, 24);
			padding: 3px;
		}

		#statusBrC {
			display: block;
			position: relative;
			width: 100%;
			background: transparent;
			margin: 15px 0 30px 0;
		}

		#statusTitleBrC {
			font-size: 22px;
			text-align: center;
			margin: 0 0 5px 0;

		}

		#statusContentBrSlct {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 18px;
			border-radius: 2px;
			border: 2px solid rgb(13, 18, 24);
			padding: 2px;
		}

		#typeBrC {
			display: block;
			position: relative;
			width: 100%;
			background: transparent;
			margin: 5px 0 30px 0;
		}

		#typeTitleBrC {
			font-size: 22px;
			text-align: center;
			margin: 0 0 5px 0;

		}

		#typeContentBrSlct {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 18px;
			border-radius: 2px;
			border: 2px solid rgb(13, 18, 24);
			padding: 2px;
		}

		#streetBrC {
			display: block;
			position: relative;
			width: 100%;
			background: transparent;
			margin: 5px 0 30px 0;
		}

		#streetTitleBrC {
			font-size: 22px;
			text-align: center;
			margin: 0 0 5px 0;

		}

		#streetContentBrInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 18px;
			text-align: center;
			border-radius: 2px;
			border: 2px solid rgb(13, 18, 24);
			padding: 3px;
		}

		#imageBrC {
			display: block;
			position: relative;
			width: 100%;
			background: transparent;
			margin: 5px 0 30px 0;
		}

		#imageTitleBrC {
			font-size: 22px;
			text-align: center;
			margin: 0 0 5px 0;

		}

		#imageContentBrInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 18px;
			text-align: center;
			border-radius: 2px;
			border: 2px solid rgb(13, 18, 24);
			padding: 3px;
		}

		#sendToCheckEditBrBtn {
			width: 100%;
			background: rgb(13, 18, 24);
			color: white;
			font-size: 22px;
			text-align: center;
			cursor: pointer;
			border-radius: 4px;
			border: 2px solid white;
			margin: 15px 0 0 0;
			padding: 10px;
		}

		#sendToCheckEditBrBtn:hover {
			background: rgb(255, 215, 0);
			color: white;
			border: 2px solid white;
		}

		#sendToCheckEditBrBtn:active {
			background: rgb(13, 18, 24);
			color: rgb(255, 215, 0);
			border: 2px solid rgb(255, 215, 0);
		}

	/*NEW BRANCH CSS*/
	#titleOfNewBranchC {
		display: inline-block;
		position: relative;
		background: rgb(13, 18, 24);
		color: white;
		left: 50%;
		font-size: 28px;
		border-radius: 4px 4px 0 0;
		user-select: auto;
		margin: auto;
		margin-bottom: 0px;
		padding: 4px 6px 4px 6px;
		box-shadow: 0px 2px 5px black;
		z-index: -1;
		transform: translate(-50%, 0);
	}

	#createNewBranchC {
		display: block;
		position: relative;
		width: 100%;
		background: transparent;
		color: rgb(13, 18, 24);
		padding: 0;
	}

	/*LEFT SIDE*/
	#leftPanelBranchC {
		float: left;
		display: block;
		position: relative;
		width: 600px;
		background: transparent;
		padding: 30px 100px 100px 100px;
	}

	#branchIdNewBranchInptC {
		width: 220px;
		margin: auto; margin-top: 20px;
	}

		#branchIdNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}
	
		#branchIdNewBranchInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;

		}

	#categoryNewBranchInptC {
		width: 80%;
		margin: auto; margin-top: 20px;
	}

		#categoryNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}
	
		#categoryNewBranchSlct {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}
	
	#locationNewBranchInptC {
		width: 100%;
		margin-top: 20px;
	}
	
		#locationNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}

		#locationNewBranchInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}
	
	#addressNewBranchInptC {
		width: 100%;
		margin-top: 20px;
	}

		#addressNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}

		#addressNewBranchInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}

	#imageNewBranchInptC {
		width: 100%;
		margin-top: 20px;
	}

		#imageNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}

		#imageNewBranchInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}

	#managerNewBranchInptC {
		width: 100%;
		margin-top: 20px;
	}

		#managerNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}

		#managerNewBranchSlct {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}

	#statusNewBranchInptC {
		width: 80%;
		margin: auto; margin-top: 20px;
	}

		#statusNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}

		#statusNewBranchSlct {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}


	#storeSizeBranchInptC {
		width: 220px;
		margin: auto; margin-top: 20px;
	}

		#storeSizeNewBranchTitleC {
			display: table;
			color: white;
			font-size: 18px;
			text-align: center;
			margin: auto; margin-bottom: 5px;
		}
	
		#storeSizeNewBranchInpt {
			display: block;
			width: 100%;
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			margin: auto;
			padding: 1px 3px 1px 3px;
		}

	/*RIGHT SIDE*/
	#rightPanelBranchC {
		position: relative;
		background: transparent;
		overflow: hidden;
	}

	#storeIdNewBranchInptC {
		width: 200px;
		margin: auto; margin-top: 50px;
	}

		#storeIdNewBranchTitleC {
			width: 100%;
			color: white;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
		}

		#storeIdNewBranchInpt {
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}

	#otherBranchesConnectedC {
		display: block;
		position: relative;
		width: 500px;
		background: transparent;
		margin: auto; margin-top: 15px;
	}

		#otherBranchesConnectedTitleC {
			width: 100%;
			color: white;
			font-size: 20px;
			text-align: center;
			margin-bottom: 5px;
		}

		#otherBranchesConnectedSlct {
			display: block;
			position: relative;
			width: 100%;
			color: rgb(13, 18, 24);
			font-size: 20px;
			text-align: center;
			border: 1px solid rgb(22, 36, 53);
			padding: 1px 3px 1px 3px;
		}

		.optionsOnCreateBranchForBranches {

		}

		#branchesSelectViewBtn {
			display: block;
			position: relative;
			background: white;
			font-size: 16px;
			cursor: pointer;
			border: 2px solid rgb(13, 18, 24);
			margin: auto; margin-top: 20px;
			padding: 4px;
		}

		#branchesSelectViewBtn:hover {
			background: rgb(255, 255, 255, 0.7);
		}

		#branchesSelectViewBtn:active {
			background: rgb(13, 22, 32);
			color: white;
		}
	
		#otherBranchesConnectedShowC {
			display: block;
			position: relative;
			width: 100%; height: 262px;
			overflow: auto;
			border-radius: 10px 2px 2px 2px;
			border: 2px solid white;
			margin: auto; margin-top: 20px;
		}

		/*WIDTH*/
		#otherBranchesConnectedShowC::-webkit-scrollbar {
			width: 10px;
		}

		/*TRACK*/
		#otherBranchesConnectedShowC::-webkit-scrollbar-track {
			background: #f1f1f1; 
		}
	
		/*HANDLE*/
		#otherBranchesConnectedShowC::-webkit-scrollbar-thumb {
			background: rgb(255, 215, 0);
		}

		/*HANDLE ON HOVER*/
		#otherBranchesConnectedShowC::-webkit-scrollbar-thumb:hover {
			background: #555; 
		}

			#otherBranchesConnectedShowTitleC {
				display: block;
				position: sticky;
				background: rgb(13, 18, 24);
				color: white;
				top: 0;
				text-align: center;
				border: none;
				margin: 0;
				padding: 4px;
				z-index: 10;
			}

			#otherBranchesConnectedShowPanelC {
				display: block;
				position: relative;
				width: 100%;
				background: rgb(186, 162, 16);
				color: rgb(13, 18, 24);
				margin: 0;
			}

			#emptyConnectBrancListInfoC {
				display: table;
				position: relative;
				width: 100%;
				background: transparent;
				color: white;
				font-size: 16px;
				padding: 4px 10px 4px 10px;
			}

			.lineConnectShowBranchesC {
				float: left;
				position: relative;
				width: 100%;
				background: rgb(255, 255, 255, 0.8);
				color: rgb(13, 18, 24);
				font-size: 16px;
				border: 1px solid white;
				padding: 4px 10px 4px 10px;
			}

			.lineConnectShowBranchesTextC {
				float: left;
				position: relative;
				background: transparent;
			}

			.nextToLineConnectShowBranchesDeleteBtn {
				float: right;
				position: relative;
				width: 22px; height: 22px;
				overflow: hidden;
				cursor: pointer;
				padding: 0;
			}

			.nextToLineConnectShowBranchesDeleteBtnImg {
				width: 100%; height: 100%;
				content: url(../Assets/icons8_trash_20px.png);
			}

			.nextToLineConnectShowBranchesDeleteBtn:active {
				background: rgb(255, 215, 0);
			}

	#confirmNewBranchBtn {
		display: block;
		position: relative;
		background: white;
		color: rgb(13, 18, 24);
		font-size: 22px;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid rgb(13, 18, 24);
		margin: auto; margin-top: 50px;
		padding: 12px 6px 12px 6px;
	}

	#confirmNewBranchBtn:hover {
		background: rgb(186, 190, 195);
	}

	#confirmNewBranchBtn:active {
		background: rgb(13, 18, 24);
		color: white;
	}


	/*MEDIA FOR LOWER PIXEL SCREEN*/
	@media screen and (max-width: 1300px) {
		#imageBranchC {
			width: 250px;
		}

		#locationTextBranchC {
			font-size: 22px;
		}

		#streetBranchC {
			font-size: 15px;
		}

		#managerTextBranchC {
			font-size: 17px;
		}
	}

	/*ANIMATIONS*/
	@keyframes spin {
  		0% { transform: rotate(0deg); }
  		100% { transform: rotate(360deg); }
	}

	@keyframes roundBorderToRight {
		0% { width: 4px; border-top: 2px solid white; }
		33% { width: 4px; border-right: 2px solid rgb(255, 215, 0); }
		66% { width: 4px; border-bottom: 2px solid white; }
		100% { width: 4px; border-left: 2px solid rgb(255, 215, 0); }
	}

	@keyframes roundBorderToLeft {
		0% { width: 4px; border-top: 2px solid white; }
		33% { width: 4px; border-left: 2px solid rgb(255, 215, 0); }
		66% { width: 4px; border-bottom: 2px solid white; }
		100% { width: 4px; border-right: 2px solid rgb(255, 215, 0); }
	}

	@keyframes flash {
		35% {background-color: transparent;}
		50% {background-color: rgb(255, 215, 0, 0.4);}
		65% {background-color: transparent;}
	}