
	body {
		font-family: Roboto Slab;
	}

	button {
		font-family: Roboto Slab;
		user-select: none;
	}

	input {
		font-family: Roboto Slab;
	}

	select {
		font-family: Roboto Slab;
	}

	/*EMPLOYEE ID CONTAINER*/

	#hiddenInfoForSecretIdsC {
		position: fixed;
		background: rgb(255, 215, 0);
		bottom: 1px; right: 2px;
		opacity: 0;
		border-radius: 10px;
		border: 2px solid rgb(13, 18, 24);
		box-shadow: 0px 0px 2px black;
		padding: 1px;
		z-index: -10;
		transition: opacity 0.3s;
	}

	/*#hiddenInfoForSecretIdsC {
		
	}*/

/*INFO FOR ID CSS*/
	#userIdC {
		display: block;
		position: relative;
		width: 342px; height: 186px;
		top: 0;
		background: rgb(13, 18, 24);
		background-image: url("../Assets/idFront.png");
		background-size: 100%;
		background-repeat: no-repeat;
  		background-position: center;
		border-radius: 8px;
		padding: 0;
	}

	/*STATUS PLACE TO ID CSS*/
	#statusIdC {
		position: relative;
		background: transparent;
		color: white;
		text-align: center;
		font-size: 20px;
		overflow: hidden;
		border-radius: 8px 8px 0 0;
		padding: 2px;
	}

	/*IMG PLACE TO ID CSS*/
	#imgIdC {
		float: left;
		position: absolute;
		width: 87px; height: 90px;
		background: white;
		top: 46px; left: 16px;
		font-size: 16px;
		font-style: italic;
		text-align: left;
		overflow: hidden;
		border-radius: 10px;
		padding: 1px 5px 1px 5px;
		z-index: 10;
	}

	#imgIdImg {
		position: absolute;
		width: 60px; height: 60px;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}

	/*USERNAME PLACE TO ID CSS*/
	#usernameIdC {
		float: right;
		position: absolute;
		width: 205px;
		background: transparent;
		top: 45px; right: 12.5px;
		font-size: 16px;
		font-style: italic;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 1px 5px 0px 5px;
		z-index: 10;
	}

	/*NAME PLACE TO ID CSS*/
		#nameIdC {
		float: right;
		position: absolute;
		width: 205px;
		background: transparent;
		top: 86px; right: 12.5px;
		font-size: 16px;
		font-style: italic;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 1px 5px 0px 5px;
		z-index: 10;
	}

	/*EMAIL PLACE TO ID CSS*/
	#emailIdC {
		float: right;
		position: absolute;
		width: 205px;
		background: transparent;
		top: 127px; right: 12.5px;
		font-size: 14px;
		font-style: italic;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 2px 4px 2px 4px;
		z-index: 10;
	}

	/*BRANCH INFO PLACE TO ID CSS*/
	#branchInfoIdC {
		float: right;
		position: absolute;
		width: 305px;
		background: transparent;
		top: 61px; right: 19px;
		font-size: 13px;
		font-style: italic;
		letter-spacing: 0.5px;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 2px 4px 2px 4px;
		z-index: 10;
	}

	/*EMPLOYEE ID PLACE TO ID CSS*/
	#employeeIdC {
		float: right;
		position: absolute;
		width: 173px;
		background: transparent;
		top: 117px; right: 84px;
		font-size: 14px;
		font-style: italic;
		letter-spacing: 0.5px;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 2px 4px 2px 4px;
		z-index: 10;
	}