	html {
		scroll-behavior: smooth;
	}

	body {
		height: 100%;
		background: black;
		margin: 0;
		padding: 0;
	}

	#backgroundC {
		position: relative;
		width: 100%; height: 100%;
		background: grey;
		overflow: hidden;
	}

	#leftC {
		float: left;
		position: fixed;
		width: 240px; height: 100%;
		background: rgb(77, 77, 77);
		overflow: visible;
		box-shadow: 3px 0px 2px black;
		transition: width 0.3s;
		
	}

		#menuSymbolC {
			position: relative;
			width: 100%; height: 200px;
			background: rgb(111, 142, 171);
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			top: 0px; right: 0px;
			z-index: 3;
			border-bottom: 2px solid rgb(141, 157, 169); 
			box-shadow: 2px 0px 2px black;
		}

		#menuImgC {
			position: absolute;
			width: 40px; height: 40px;
			bottom: 0px;
			right: 5px;
			margin: auto;
		}

		#menuImg {
			position: relative;
			width: 100%; height: 100%;
			bottom: 0px; right: 0px;
			content: url(../Assets/icons8_greece_50px.png);
		}

		#menuBtn {
			position: absolute;
			width: 50px; height: 45px;
			background: transparent;
			outline: none;
			cursor: pointer;
			top: 100px; right: -25px;
			border: 2px solid rgb(10, 24, 41);
			border-radius: 0px 4px 4px 0px;
			z-index: 1;
			transition: right 0.3s;
		}

		#menuBtn:hover {
			background: rgb(16, 38, 65);
			right: -50px;
		}

		#menuBtn img {
			width: 100%; height: 100%;
			content: url(../Assets/icons8_business_50px.png);
		}

		#menuC {
			position: relative;
			width: 100%;
			background-image: url(../Assets/bus2.jpg);
			background-size: cover;
			top: 0px; right: 0px;
			overflow: hidden;
			z-index: 5;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.menuBtns {
			position: relative;
			width: 100%; height: 45px;
			background: transparent;
			cursor: pointer;
			outline: none;
			border: none;
			border-top: 2px solid white;
			border-bottom: 2px solid white;

		}

		.menuBtns:hover {
			background: rgb(46, 54, 78, 0.5);
			border: none;
			border-top: 2px solid rgb(46, 54, 78);
			border-bottom: 2px solid rgb(46, 54, 78);
		}

		.menuBtnImg {
			float: left;
			position: relative;
			width: 35px; height: 80%;
			margin-left: 30px;
			content: url(../Assets/icons8_region_50px.png);
			top: 50%;
			transform: translate(0%, -50%);
		}

		.menuBtnTxtC {
			height: 100%;
			overflow: hidden;
		}

		.menuBtnTxtC div {
			position: relative;
			color: white;
			font-size: 22px;
			font-family: "Times New Roman", Times, serif;
			font-style: italic;
			text-align: left;
			top: 50%; left: 5px;
			transform: translate(0%, -50%);
		}

		#menuDownImgC {
			position: relative;
			width: 100%;
			background: rgb(13, 18, 24);
			overflow: hidden;
			border-top: 2px solid rgb(141, 157, 169);
			z-index: 5;
		}

	#rightC {
		height: 1000px;
		background: rgb(0, 0, 0, 0.1);
		overflow: hidden;
	}

		#headerC {
			height: 70px;
			background: rgb(0, 0, 0, 0.4);
			margin: auto;
			padding: 10px 0 10px 0;
			text-align: center;
			border-bottom: 2px solid rgb(255, 215, 0);
		}

		#headerC h1 {
			color: white;
		}

		#img1 {
			content: url(../Assets/icons8_network_95pxEdited.png);
		}

		#contentC {
			width: 100%;
			background: rgb(0, 0, 0, 0.2);
			margin-top: 130px;
		}
